[2015-11-11 01:21] HipsterBrown commented on #433
@rwaldron might be worth making an issue in the npm repo for documenting the use case and internals of `.npminclude`.

I agree that the latter would win since if the default case for bundling is the `--slim` path, then the `.tesselinclude` file lists the exceptions to that path. With the `--full` path, I'm not sure where the `.tesselinclude` would be useful.

You did a stellar job implementing the

[2015-11-11 15:31] rwaldron commented on #433
Great, I'll get started today. I'll need reviewing, smoke tests, etc. will ping you w/ questions along the way.

[2015-11-11 15:34] rwaldron commented on #433
https://github.com/npm/docs/issues/438

[2015-11-13 20:20] rwaldron opened #436 "t2 provision fails on master"
[code]

Encountered this while setting up a Tessel after doing a sysupgrade

[2015-11-13 20:24] rwaldron commented on #436
Had to do this:

[code]

cc @HipsterBrown

[2015-11-13 20:44] johnnyman727 commented on #436
Damn, must have been a regression with my key branch :/

[2015-11-13 22:41] #433 closed

[2015-11-14 21:13] Drizej opened #439 "Installing T2 CLI not working on node v5.0.0"
When installing the T2 CLI I get a wide assortment of errors. I don't know if it helps, but here is a dump of the errors:
[code]

[2015-11-14 21:34] Drizej commented on #439
Ok, so one of my problems may have been that I had not yet agreed to the XCode license agreement.

[2015-11-14 21:34] rwaldron commented on #439
All of these failures are being caused by a brand new installation of Xcode that hasn't had it's license agreed to. Presumably you updated Xcode sometime in the last few days and this is the first time anything you've done has required `sudo`. You can fix that part by typing `sudo ls` (safe), which will prompt you to agree to the license. Once you've done that, try this again.

[2015-11-14 21:50] johnnyman727 opened #440 "Remove 'generating slim build' from deploy output"
Now that `--slim` is the default, it's a little strange to print out 'generating slim build' when you deploy. It seems like we should just print 'deploying full project` if the `--full` flag is provided.

Here is what it looks like now:
[code]

[2015-11-14 21:57] johnnyman727 opened #441 "Slim build construction can fail silently if script has syntax error"
My deploys were hanging after 'generating slim build'. I had a feeling that some rejection was not being handled properly so I put a few console.logs in the `tarBundle` function. It turns out [this error was being rejected](https://github.com/tessel/t2-cli/blob/master/lib/tessel/deploy.js#L439):
[code]

This was caused because my script had a syntax error.

[2015-11-14 22:22] Frijol commented on #395
I'll take a stab at this

[2015-11-14 22:38] Frijol commented on #395
Relevant docs:

* [WPI CLI docs](http://linux.die.net/man/8/wpa_cli)
* [WPA supplicant](https://w1.fi/wpa_supplicant/devel/ctrl_iface_page.html#ctrl_iface_events)
* [netifd](http://wiki.openwrt.org/doc/techref/netifd)

[2015-11-14 23:28] Frijol commented on #395
dterm'd into T2, in a `ubus listen`:

giving it the creds for a network that doesn't exist (after it was on a network):

[code]

giving it the right creds:

[code]
(it's not always this clean, sometimes you get deauthentication events and reauthentications mixed in)

giving it a real network but the wrong password:

[code]

[2015-11-14 23:28] johnnyman727 opened #442 "`-s` flag no longer works"
You can no longer deploy a single file with the `-s` flag. I received this error:
[code]

To recreate, make a new directory and place a single file in it. Then run `t2 run FILE_NAME -s`.

[2015-11-14 23:33] Frijol commented on #395
no such network & real network but wrong password have the same output, so this does not produce a complete solution.

However, we could do a quick & dirty listen for "ifup" within a certain timeframe after setting credentials to determine if the network is providing a connection.

[2015-11-14 23:56] Drizej opened #443 "CLI not able to make SSH connection to provisioned VM"
I am running the t2-vm and am able to connect to the VM via an ssh call, but when running "t2 list" it reports that the Virtual Tessel is not provisioned.  Here is the output from t2 list:

when running this command: DEBUG=discovery:lan t2 list --timeout 30
INFO Searching for nearby Tessels...
  discovery:lan Device found: +0ms Tessel-080027F7DA27._tessel._tcp.local
key: /Users/andrzej/.tessel/id_

[2015-11-15 00:54] rwaldron commented on #443
Are you using t2-cli from an npm install or from the repo?

[2015-11-15 01:48] Frijol commented on #395
Instead of listening for "ifup", wouldn't it be better to just run/output `t2 wifi` after setting credentials? This gives the user more information about the connection & doesn't duplicate code functionality.

[2015-11-15 01:58] rwaldron commented on #442
That error is produced when the _target_ directory doesn't have a `package.json` file.

[2015-11-15 02:37] johnnyman727 commented on #395
@Frijol I think the question is how long to wait after setting credentials. For example, if a wifi signal is relatively weak, the connection may not happen on the first or second attempt but maybe the third.

[2015-11-15 02:39] Frijol commented on #393
Looks like some of the setup for this is already in place, just not fully implemented: in lib/tessel/commands.js:

[code]

[2015-11-15 02:40] johnnyman727 commented on #442
No, I don't but my understanding of -s is that it wouldn't matter whether or not you have a package.json.

[2015-11-15 03:55] rwaldron commented on #442
Well, looking back through the relevant discussions, I'd judge the outcome as vague at best...

- https://github.com/tessel/t2-cli/issues/426
- https://github.com/tessel/t2-cli/issues/284

But looking at it for a third time now, I think I have an idea of how to make this work with minimal changes.

[2015-11-15 03:59] johnnyman727 commented on #442
:+1: Fair enough!

[2015-11-15 21:47] Frijol opened #447 "Linux install still not working"
Installed CLI from master on a Linux machine, `t2 list` did nothing (and resolved in under a second), `sudo t2 install-drivers` returns command not found.

What is the expected interaction?

cc @johnnyman727

[2015-11-15 22:06] Frijol opened #448 "t2 provision is broken"
[code]

[2015-11-15 23:36] rwaldron commented on #448
Duplicate of #436

[2015-11-15 23:36] #448 closed

[2015-11-16 06:20] Drizej commented on #439
Thanks.  Yes, after agreeing to the xCode license agreement, the problems are resolved.

[2015-11-16 16:37] #439 closed

[2015-11-16 16:38] LinusU commented on #439
Glad you got it resolved :)

[2015-11-16 23:26] #436 closed

[2015-11-16 23:30] rwaldron opened #449 "Stop using new Error(...) in reject()"
When `reject(new Error(...))` is called, `closeFailedCommand` (in bin/tessel-2.js) does this:

[code]

Which means this happens:

[code]

...Followed by the entire stack trace.

Passing a string will log the string as a warning.

[2015-11-16 23:33] rwaldron commented on #449
Or should it just use `logs.err` when the argument is actually a `new Error()` object?

[2015-11-16 23:36] rwaldron commented on #449
Here's an example, where instead of rethrowing and doing absolutely nothing with it, t2 will log an error instead.

Before:

[code]

After:

[code]

[2015-11-16 23:37] rwaldron commented on #449
(note that was done on an older branch, I just needed something to demonstrate with)

[2015-11-16 23:54] rwaldron commented on #449
This blocks #444

[2015-11-17 17:48] #441 closed

[2015-11-17 17:50] #87 closed

[2015-11-17 17:51] #442 closed

[2015-11-17 19:05] #449 closed

[2015-11-17 19:22] #394 closed

[2015-11-19 17:39] rwaldron opened #452 "Assess tests that interact with file system, migrate to actual dir/file fixtures where possible"
https://github.com/tessel/t2-cli/pull/451/files#r45367387

[2015-11-19 18:45] rwaldron commented on #70
@HipsterBrown can you take a look at this?

[2015-11-19 18:48] HipsterBrown commented on #70
@rwaldron Looking through it now.

[2015-11-19 18:50] rwaldron commented on #96
@wprater any updates?

[2015-11-19 18:52] rwaldron commented on #96
I'm going to look at the deploy routines and see where I can expose the data needed for this

[2015-11-19 18:58] HipsterBrown commented on #273
Now that the default `run` and `push` commands use the `--slim` bundling process with Browserify, we could look into a `--watch` option that uses [browserify-incremental](https://www.npmjs.com/package/browserify-incremental) for watching the bundled files and only pushing changes to Tessel.

I'm not sure yet how we could also watch `tesselinclude` files and how to implement this with the `-s` or `

[2015-11-19 22:10] rwaldron commented on #273
With all of the additional stuff that we currently do and will soon add (ie. supporting binary modules), I don't see how it could work. Browserify is only _barely_ right for our needs, and only because it was the least worst option—during review of the first draft of the `--slim` patch, I went and looked at webpack and rollup to get an idea of what else might work, neither was a good fit.

What we

[2015-11-20 20:38] rwaldron commented on #373
@HipsterBrown this is in your wheel house ;)

[2015-11-20 20:39] rwaldron commented on #393
@HipsterBrown same here!

[2015-11-20 22:42] rwaldron commented on #96
@johnnyman727 I've updated your list above to indicate items that function (which is only the first). The Third item is in progress, using dummy tarballs.

[2015-11-20 22:46] johnnyman727 commented on #96
:+1:

[2015-11-21 05:02] #406 closed

[2015-11-24 18:20] johnnyman727 opened #455 "CLI errors out on any command if no key in ~/.tessel"
Reproduction:
* Remove any existing `~/.tessel` folder
* Run `t2 list` (or any CLI command)

Error:
[code]

[2015-11-24 18:21] johnnyman727 commented on #455
Workaround: run `t2 key generate`.

[2015-11-24 18:55] rwaldron commented on #455
To whoever takes this: t2-cli should just print what @johnnyman727 wrote :)

[2015-11-24 19:20] johnnyman727 commented on #455
@rwaldron I think it should `t2 list` should run as usual (because it will report any unauthorized Tessels and to run `t2 provision` and other commands can just not search for LAN Tessels.

[2015-11-24 21:31] rwaldron commented on #455
@johnnyman727 ah, yeah that makes sense.

[2015-11-25 01:43] jonathana opened #458 "Simple t2 push _filename.js_ causes pushed file not to run"
When using `t2 push _filename_.js`, the resulting pushed file never runs on the t2.  The file laid down in this case is /app/__tessel_program__.js but both /app/start and /etc/init.d/tessel-app just do a `cd app` and then `exec node .` which errors because there is no index.js in /app anymore.

    host_box:my_puck jonathan$ t2 push blinky.js
    INFO Looking for your Tessel...
    INFO Connected

[2015-11-25 16:32] #458 closed

[2015-11-25 18:04] rwaldron opened #460 "Restoring lost options creates file naming conflict with t2 push semantics"
In order to avoid overwriting project files, `t2 run <file>` and `t2 push <file>` create a file called `__tessel_program__.js` to push to the device. The `run` path doesn't care what the end file is called, because it controls the start of the program. The `push` path uses the push script, which looks like:

[code]

To fix this, that script needs to be modified if the `entryPoint` is anything but

[2015-11-25 18:10] johnnyman727 commented on #460
Actually, this was going to be necessary anyway, because once we get to using other languages, we'll have to modify that last line of the script to be, for example, `exec ./EXECUTABLE_NAME` or `exec python FILENAME`.

[2015-11-25 18:11] rwaldron commented on #460
Ok, I have the fix written for this case, just making tests now

[2015-11-25 18:12] johnnyman727 commented on #460
:+1:

[2015-11-25 19:16] rwaldron commented on #452
Also, **not urgent**

[2015-11-25 19:17] rwaldron commented on #423
This is resolved: 8cf1f8d795bbdce3ecc45bde826fe8b7ff5f00d4

[2015-11-25 19:17] #423 closed

[2015-11-25 19:48] #460 closed

[2015-11-25 20:31] johnnyman727 opened #462 "Stack trace emitted in `npm install`"
It looks like the [`drivers.install()`](https://github.com/tessel/t2-cli/blob/b28c7dee90cfc86ac3f0f2f9863f9c30c574d683/bin/tessel-2.js#L65) function is not ending properly and it's causing issues with you run `npm install`.

[code]

[2015-11-25 20:54] johnnyman727 commented on #447
@Frijol My guess is that the CLI installed with npm, rather than from master because we haven't published since the `install-drivers` function was released. Can you confirm?

[2015-11-25 20:55] johnnyman727 commented on #422
Closing for now because I can't reproduce.

[2015-11-25 20:55] #422 closed

[2015-11-25 20:55] #413 closed

[2015-11-25 21:14] johnnyman727 commented on #462
Fixed by #463.

[2015-11-25 21:14] #462 closed

[2015-11-25 21:15] Frijol commented on #447
tried installing both ways, this was from github

[2015-11-25 21:19] johnnyman727 commented on #447
@flaki can you confirm?

[2015-11-25 21:52] johnnyman727 opened #464 "Access Point mode breaks mDNS discovery somehow"
After using `t2 ap -n SSID -p PASS`, I can see the network being created, but I can no longer detect the Tessel using `t2 list`. Can we have it connected to the network and serving a network at the same time?

Also, is there a way to turn `ap` off so I can connect it to the network like usual?

@HipsterBrown

[2015-11-25 21:54] johnnyman727 opened #465 "Can't create an access point over USB"
For some reason, USB throw an error when creating an access point:
[code]

I haven't yet dived in to see which issue is causing the problem. I usually put `console.log`s before each process creation and see where the last one was. Then I run `/etc/init.d/usbexecd restart` on the Tessel to make sure it can still respond to USB. Then I do `remoteProc.stderr.pipe(process.stderr)` for that process to

[2015-11-25 22:23] johnnyman727 commented on #379
Fixed with https://github.com/tessel/t2-cli/pull/360.

[2015-11-25 22:23] #379 closed

[2015-11-25 22:24] johnnyman727 commented on #197
Fixed with https://github.com/tessel/t2-cli/pull/416.

[2015-11-25 22:24] #197 closed

[2015-11-25 22:24] johnnyman727 commented on #252
This will likely be a fix in OpenWRT.

[2015-11-25 23:24] Frijol opened #467 "Latest cli not working with Node 0.12"
Any time I ran a `t2` command (or `npm install`) I got this:

[code]

Upgraded to Node 4.2.2, problem disappeared.

[2015-11-25 23:46] Frijol commented on #397
I'm getting `ERR! WARNING: No usb controller found on this system.` and don't understand this issue - is this a warning from within t2-cli?

[2015-11-26 01:24] rwaldron commented on #467
I don't think this is a bug, t2-cli should stick with node lts at _minimum_

[2015-11-26 01:26] rwaldron commented on #397
You need to upgrade to node 4.2.1 or newer and run npm rebuild or just reinstall t2-cli

[2015-11-26 01:36] rwaldron commented on #464
Don't you have to connect to that AP network? When I made an AP, I connected my machine to the newly created network and it worked fine.

[2015-11-26 01:41] rwaldron commented on #464
`t2 ap off`

https://github.com/tessel/t2-cli/pull/405#issuecomment-157184061

[2015-11-26 02:11] johnnyman727 commented on #467
@rwaldron if that's the case, we should update the `engine` property of the package.json so it shows a warning on `npm install` if your Node version is too old.

[2015-11-26 02:48] Frijol opened #468 "more details from unsuccessful connection"
PR https://github.com/tessel/t2-cli/pull/445 brings wifi success validation to T2 (no more wondering if you just mistyped something) but there's more that can be done.

To resolve this issue, add functionality that checks *why* the Tessel failed to connect, e.g. wrong password.

This will involve re-implementing success validation from ubus, probably to WPA supplicant. https://github.com/tessel/t2

[2015-11-26 02:50] Frijol commented on #397
thanks, fixed!

[2015-11-26 05:06] sidwarkd commented on #467
Also confirmed it works on Node v5.1.0

[2015-11-26 05:09] flaki commented on #447
I'm travelling and don't have my Linux machine handy at the moment unfortunately. :(
I'll make sure to have a look at this on Monday as I get home!

[2015-11-26 06:08] LinusU commented on #467
@rwaldron Node 0.12 is in active LTS until april 2016

https://medium.com/@nodesource/essential-steps-long-term-support-for-node-js-8ecf7514dbd

[2015-11-26 09:20] LinusU opened #470 "Decide which version of Node.js to target"
As noted in #467 the code currently doesn't work because we are using template strings which isn't available in Node.js < 4 (I don't know about iojs). On the other hand, there are a lot of features in Node 4.x that we aren't taking advantage of.

I think that we should take a decision on which version to target, and then use all the new features available on that version.

The largest benefit woul

[2015-11-26 09:47] Student007 commented on #467
@LinusU I think we should be strongly oriented by LTS. Also before the `t2-cli` is releasing version `1.0` we should review what is deprecated (I saw some things - I mean). The final step before it is `1.0` could be to modernize all the code parts matching what is possible by LTS limits of that date.

All further release planing should have a plan related and pointing on LTS and deprecated code re

[2015-11-26 15:07] rwaldron commented on #467
@linusu I had totally forgotten about that. Regardless, I recommend that we establish 4.2.1 as the minimum version. I don't think it's unreasonable, considering it's trivial to use nvm to install multiple versions of node.js.

[2015-11-26 15:38] rwaldron commented on #470
Node.js 4.2.x should be the minimum, as I said in the other thread: managing multiple versions is trivial with nvm.

[2015-11-27 07:06] LinusU commented on #467
I agree, that gives us lots of room for improving the code base! 👏

[2015-11-27 12:03] LinusU commented on #467
@rwaldron Seems like it's only [until 31 december 2015 now](https://nodejs.org/en/blog/release/v0.12.8/)

[2015-11-27 16:02] rwaldron commented on #467
@LinusU I think that settles it then :)

[2015-11-27 16:33] LinusU commented on #470
As said in #467, 0.12 is only in LTS mode until the end of the year, which is very soon. Me and @rwaldron therefor think that we should target Node 4.x and newer.

I think that we should go thru the codebase with the following fixes:
- [ ] Add `'use_strict'` at the top of files (this is needed for next step)
- [ ] Switch all `var` to `const` and `let`
- [ ] Stop using `self = this` and `.bind(...)

[2015-11-28 11:39] Student007 commented on #470
@johnnyman727 @LinusU @rwaldron
I belief the impact would be very big so it is reasonable to think about it is necessary to do this with a major version number (s0 from 0.X.x to 1.0.0).
I think we should prepare this and teach each other during next weeks (I mean it could be a really bad idea to rewrite contributed code without teaching the original or involved authors).
@Frijol Doing this changes

[2015-11-28 14:21] LinusU commented on #470
I really don't think that. It should *only* be a **patch** release since we aren't changing any of the visible api. Also, as a user I would be very confused by a sudden major release when seemingly nothing has been changed.

We're not really rewriting that much code though, these are very small changes which mostly is just "sugar", it makes the code look nicer.

I really don't think that this is t

[2015-11-28 23:03] rwaldron commented on #470
Pre-1.0.0 isn't bound to any particular semver rules, as specified by #4 of semver ;)

[2015-11-28 23:08] rwaldron commented on #470
Also, the changes we make _shouldn't_ break the code, since they should absolutely abide by the existing tests

[2015-11-29 09:01] Student007 commented on #470
I really don't think that this is true at all. ES6 is not a new language [...]

It feels like that for a lot people are not familiar with the discussions lead to the new feature. And this is the majority of people. But we could sell this as a chance to train ES6 by contributing.

    That could be a very good idea, we should also see what's already available :+1:

:+1: but it should be simplified

[2015-11-30 05:42] dtex commented on #470
0.12.x is in LTS until April of 2017 but I believe targeting >=4.x is perfectly reasonable.

[2015-11-30 06:00] LinusU commented on #470
@dtex Not according to [their latest blogpost](https://nodejs.org/en/blog/release/v0.12.8/)

[2015-12-01 09:51] flaki commented on #470
Well my 2 cents is that we should most definitely aim to ship the official Tessel 2 builds with the latest LTS versions of node (that probably means 4.2 LTS  for the initial release), maybe on the long term we could provide a beta/nightly channel which might include more recent versions of the node runtime.

[2015-12-02 19:43] #455 closed

[2015-12-04 18:12] #395 closed

[2015-12-04 18:46] johnnyman727 commented on #464
I confirmed that once I connect to the Access Point network, I'm able to discover it over LAN again. And `t2 ap off` does work correctly, thanks @rwaldron!

I think people may be confused, as I was, that they can no longer deploy over LAN to the Tessel once the access point is created. I was under the impression that it would stay on my network and just make a new one. @HipsterBrown is there a way

[2015-12-04 18:54] HipsterBrown commented on #464
@johnnyman727 When starting work on the `ap` command, I asked about the implications of running an access point while connected to a network, [reference](https://github.com/tessel/t2-cli/issues/87#issuecomment-151177133), and was informed that it should be possible to stay connected, [reference](https://github.com/tessel/t2-cli/issues/87#issuecomment-151178383).

That may be what's happening when

[2015-12-04 20:52] johnnyman727 commented on #464
I think @kevinmehall was just saying that you can have a "station" network and an ap network happening at the same time. We might have to get a little more clever to get Tessel advertising mDNS on the correct network.

I tried adding
[code]
to both interfaces on `/etc/config/wireless` and then running `/etc/init.d/network restart` but it didn't seem to change anything.

[2015-12-04 20:55] HipsterBrown commented on #464
@johnnyman727 Try running `wifi` after as well to restart the `wireless` process, if you haven't already.

[2015-12-04 21:03] johnnyman727 commented on #464
I think `/etc/init.d/network restart` calls that internally but I called it manually as well just to be sure with the same results.

[2015-12-04 21:22] johnnyman727 commented on #80
Closed with #453.

[2015-12-04 21:22] #80 closed

[2015-12-04 21:26] johnnyman727 commented on #116
Closing because now we have `t2 root`.

[2015-12-04 21:26] #116 closed

[2015-12-04 21:51] johnnyman727 opened #475 "First use of `t2 ap`, if over USB, will fail"
I updated a fresh T2 up to `0.0.6`. Note that the wireless config files (related to `t2 ap`) won't actually be overwritten by OpenWRT going from (sub `0.0.6`, when we add the functionality, to `0.0.6`) so you'd have to [manually reset them to their original default state](https://github.com/tessel/openwrt-tessel/tree/f64d0046313bcd6855e37a999213bfb90f75a03e/files/etc/config) if you've already used

[2015-12-04 22:30] rwaldron commented on #465
This is better described in https://github.com/tessel/t2-cli/issues/475

[2015-12-04 22:30] #465 closed

[2015-12-04 22:31] johnnyman727 commented on #465
Whoops - didn't realize I created this before. Thanks for catching that @rwaldron!

[2015-12-05 17:53] #373 closed

[2015-12-05 17:53] #393 closed

[2015-12-07 21:57] johnnyman727 opened #477 "Need to close connections if command aborted during Tessel discovery"
We currently have infrastructure in place to cleanly close any open Tessel connections if a command is running and the user aborts the script. However, if the user aborts the script before all the Tessels are fetched (ie `Tessel.get` has not completed yet), we will be leaving connections left open. This can lead to an out of sync USB Daemon on the Tessel. This also pertains to `Tessel.list`.

[2015-12-08 01:57] jasonmartens opened #478 "New tessel 2 needs to be provisioned"
Tessel 2 start page (http://tessel.github.io/t2-start/) instructs you to list your tessel, however the first time I got the error:
[code]
After running ```t2 provision``` I could list it (thanks @tcr!)

[2015-12-08 02:40] johnnyman727 commented on #478
Thanks @jasonmartens!

This was fixed a few days ago with https://github.com/tessel/t2-cli/pull/469 and will be out with the next npm release (schedule for Wednesday).

[2015-12-08 02:40] #478 closed

[2015-12-08 19:00] Frijol opened #479 "t2 list on released version of CLI wants provision first"
getting "ENOENT: no such file or directory"... looking for ./tessel/id_rsa
with a T2 powered and nearby but not connected or provisioned.

Is this perhaps fixed in master?

[2015-12-08 19:08] johnnyman727 commented on #479
Already fixed with #469. Will be out with next release.

[2015-12-08 19:08] #479 closed

[2015-12-08 21:08] HipsterBrown opened #480 "Remove '--slimPath' flag"
As discussed [here](https://github.com/tessel/t2-docs/pull/36#discussion-diff-46782882), there's no real use case for giving the user an option to change the name of the temporary, compiled bundle run on Tessel after deployment. We can hardcode "__tessel_program__.js" into [`deploy.js`](https://github.com/tessel/t2-cli/blob/master/lib/tessel/deploy.js) without the user ever having to worry about i

[2015-12-08 21:42] HipsterBrown commented on #419
I think this is a different issue where the Node program running on Tessel doesn't stop after control+C is pressed. I ran into the same issue once when running a server on Tessel and couldn't run new code because the port was still being used. I had to ssh in and kill the process manually.

[2015-12-08 23:05] rwaldron commented on #419
That's not Tessel specific, it's the nightmare EADDRINUSE error.

[2015-12-10 00:35] johnnyman727 opened #483 "Unable to abort during slim build generation process"
You cannot control+c during the slim build generation process to cancel a deployment. Hitting control+c has no effect whatsoever (the process continues to the deployment step). This has only been observed over USB and not tested over LAN.

[2015-12-11 03:13] Frijol opened #485 "Misleading error message on t2 update for unauthenticated Tessel"
This is what happens when you try to update with an unauthenticated but Wifi connected tessel:

[code]

suggestion: add "connected to wifi & authenticated with t2 provision"

[2015-12-11 03:32] johnnyman727 commented on #485
Agreed! Duplicate of https://github.com/tessel/t2-cli/issues/410.

[2015-12-11 03:32] #485 closed

[2015-12-11 06:03] johnnyman727 commented on #419
Anecdotally, I believe this is just a LAN issue.

[2015-12-11 20:20] rwaldron commented on #480
So, I just hit an issue that's forced me to remove this, so it will be closed with the next deploy update

[2015-12-13 18:56] rwaldron commented on #483
I'll take a look at this asap

[2015-12-13 23:26] HipsterBrown opened #487 "Turning off wifi disables wireless radio"
At the moment, [`commands.turnOnWifi()`](https://github.com/tessel/t2-cli/blob/master/lib/tessel/commands.js#L55-L57) disables the `wifi-idevice` `radio0` instead of the 'wifi' `wifi-iface`. This should be changed so that the `lan` access point `wifi-iface` can continue running when wifi is turned off.

[2015-12-13 23:51] HipsterBrown commented on #475
So could this be more of an issue with the USBProcess than the `ap` setup? I can still look into this, just wondering where to narrow down the search.

[2015-12-14 01:16] johnnyman727 commented on #475
@HipsterBrown after thinking about this for a bit, I think the `usb_connection` behavior should be as similar to the `lan_connection` as possible. That way, we abstract the physical channel as much as possible.

I've started a PR [here](https://github.com/tessel/t2-cli/pull/489/files).

It should work with this change but I haven't tested it yet.

[2015-12-14 15:03] HipsterBrown commented on #475
@johnnyman727 Awesome. I'll try it out tonight.

[2015-12-15 19:26] johnnyman727 opened #490 "Investigate why it takes ~5 seconds to load CLI `require`s"
It takes a super long time before `"Looking for your Tessel"` gets printed after running any command (about 3-5 seconds for me on OSX10). We should look into why this takes so long and how to reduce that time.

[2015-12-16 00:36] rwaldron opened #491 "The CLI might be too noisy."
For example:

[code]

I think:

[code]

...could be removed, without losing any important information

[2015-12-16 00:36] rwaldron commented on #491
Eventually we can take a deeper look at all of the info logs

[2015-12-16 01:38] Frijol commented on #491
I agree. All that, and I still can't tell how it's trying to talk to my Tessel, too..

[2015-12-16 02:08] rwaldron commented on #491
[code]

[2015-12-16 05:58] #345 closed

[2015-12-16 06:16] johnnyman727 commented on #477
Instead, #482 restarts the USB Daemon on initialization of the a new command.

[2015-12-16 06:16] #477 closed

[2015-12-16 06:17] johnnyman727 commented on #387
All of this should be fixed with #482 and #486.

[2015-12-16 06:17] #387 closed

[2015-12-16 06:19] johnnyman727 commented on #347
Fixed with #432.

[2015-12-16 06:19] #347 closed

[2015-12-16 06:19] johnnyman727 commented on #233
Fixed with #486.

[2015-12-16 06:19] #233 closed

[2015-12-16 06:21] johnnyman727 commented on #212
This has been fixed for some time now (too lazy to look for the commit several months back).

[2015-12-16 06:21] #212 closed

[2015-12-16 06:23] johnnyman727 commented on #341
Closing this for now because we haven't seen this in a long time.

[2015-12-16 06:23] #341 closed

[2015-12-16 06:23] johnnyman727 commented on #343
Closing this for now because it is very hard to reproduce - I have not seen it for months.

[2015-12-16 06:23] #343 closed

[2015-12-16 06:25] johnnyman727 commented on #391
I haven't seen this in a long time and I think it may have been due to improper updating. Closing until it's reproducible (or at least re-encountered).

[2015-12-16 06:25] #391 closed

[2015-12-16 06:26] johnnyman727 commented on #390
This should be fixed with #482 and #486.

[2015-12-16 06:26] #390 closed

[2015-12-16 06:27] johnnyman727 commented on #318
As of #486, this should be totally fixable!

[2015-12-16 06:29] johnnyman727 commented on #467
This issue is pretty much replaced by #470.

[2015-12-16 06:29] #467 closed

[2015-12-17 20:39] Frijol commented on #491
:+1:

[2015-12-17 22:15] johnnyman727 opened #493 "RFC: tessel unbrick"
I think we should add a command to unbrick a Tessel if either the openwrt image or the firmware image is somehow corrupted.

A corrupted openWRT image can be easily fixed with a script like [this one](https://github.com/tessel/t2-firmware/blob/master/scripts/flash.py) because @kevinmehall already wrote a utility to write directly to the OpenWRT Flash from the coprocessor. We could either port it t

[2015-12-22 00:58] johnnyman727 commented on #475
@HipsterBrown did you get a chance to try this out?

[2015-12-22 05:25] johnnyman727 opened #495 "Deployments to /app/ over USB hang"
I am able to deploy a 600kb over USB to RAM (on `/tmp`) but when I try to deploy to Flash (on `/app`), the deploy hangs after only 138.7kB are transferred.

[2015-12-22 05:30] johnnyman727 commented on #495
It's worth noting that I'm pretty sure the issue is due to a difference in Flash/RAM because I've ran `t2 push` and just changed the [deploy path](https://github.com/tessel/t2-cli/blob/55c51328e39915a846657dbb74214e45d45b89cf/lib/tessel/deploy.js#L120) to be the `run` path in RAM (ie all other `push` code was ran like usual) and it succeeded.

[2015-12-22 05:39] johnnyman727 commented on #495
Ugh this appears to be a race condition issue. If I run the USB Daemon in debugging mode, so it takes more time because it's logging to the console, the code is deployed just fine. When the USB Daemon is run as a shell script and no output, it hangs.

[2015-12-22 05:58] johnnyman727 commented on #350
I haven't confirmed why the command we are currently using only returns data once but I have confirmed another option:
`iwinfo wlan0 scan`

We will just need to change how we parse and display the JSON data after switching to this new command.

[2015-12-22 06:16] johnnyman727 opened #496 "Connecting to network returns unexpected data"
When I use `t2 wifi -n SSID -p PASS`, I get output on stdout like the following:
[code]

However, the [CLI seems to be waiting for a string including the string `signal`](https://github.com/tessel/t2-cli/blob/55c51328e39915a846657dbb74214e45d45b89cf/lib/tessel/wifi.js#L141). This leads to the CLI falsely reporting that the connection was unsuccessful.

This may just be an issue for my T2 because I

[2015-12-22 17:22] HipsterBrown commented on #475
Not yet. I will be trying it out this week though.

[2015-12-22 17:25] rwaldron commented on #495
cc @HipsterBrown

[2015-12-23 02:50] johnnyman727 commented on #350
Gah this is frustrating. My Tessel, with the `ap` turned off and `station` mode turned off, will reliably return results with the old method of requesting networks. My Tessel also seems unable to connect to networks that it used too but I'm not confident that is related.

[2015-12-29 12:58] Student007 opened #497 "No default Key for root command (if multiple Tessels are plugged)"
When running `t2 root` the default key is not set.

Warning: Identity file undefined not accessible: No such file or directory.
Permission denied (publickey).

reproduce this by plugging at least two Tessels and run `t2 root`

[x]    default key is present at ~/.tessel/id_rsa
[x]    Both Tessels are provisioned !
[ ]    `t2 root` also **should default to the default key** if it is not set by --key

[2015-12-29 23:54] johnnyman727 commented on #497
@Student007 are you passing in a key option? [The default key is set](https://github.com/tessel/t2-cli/blob/55c51328e39915a846657dbb74214e45d45b89cf/lib/tessel/provision.js#L23) when `provision.js` loads.

[2015-12-31 19:16] Student007 opened #507 "t2 ap: no warning about credentials are noch changed when switching on/of the AP"
when using the `trigger` about on/off ... you cannot push new credentials to the AP ... this only works when on or off is NOT used.

[2015-12-31 19:21] johnnyman727 commented on #507
It seems like the best way to fix that is to check if credentials are passed - if they are, assign those credentials before enabling or disabling.

[2016-01-01 11:13] Student007 commented on #497
it seams it is not used if the `opts.key` is *undefined*. Means there is no path also if a key is present at `~/.tessel/id_rsa` but this is necessary if you have multiple Tessels accessible by wifi and you do not use the `--key` option (because you like to use the default key).

**I am suggesting three different solutions:**
https://github.com/tessel/t2-cli/pull/502 => ([handle a possible opts.key

[2016-01-01 11:31] Student007 commented on #507
@HipsterBrown

this https://github.com/tessel/t2-cli/pull/506 would do this. Maybe the `--ssid` shouldn't be flagged as `required: true` with this solution.
I think the `--ssid` is not necessary when switching the AP on/off because there is only one AP. Or do you plan to add multiple configuration sets what could be toggled by this way ?

In general I think you are planing to work with multiple Te

[2016-01-02 12:02] mulderp opened #508 "t2-cli for IntelEdison"
To continue the discussion from https://github.com/tessel/project/issues/123

The first idea might be to have:

    t2 list

show additional IntelEdison devices.

Device information might be defined in a new directory `boards/intel-edison.js`

[2016-01-02 12:54] Student007 commented on #497
@rwaldron what is your preference - ask you because you did the lightweight implementation of `t2 root` ?

[2016-01-02 13:57] Student007 commented on #508
@mulderp [here](https://github.com/tessel/openwrt-tessel/tree/master/package/tessel/tessel-mdns
) you can find a good starting point what you have to do for the IntelEdisons firmware!

Let me know your steps you go when you can see IntelEdison by using `t2 list` :smile_cat: - love your intend !!!

[2016-01-02 15:23] Student007 commented on #96
@johnnyman727, @tcr  or @rwaldron when I use [t2 compile](https://github.com/tessel/t2-compiler) I get a **tgz** what includes a folder `Release` containing binding.node

If I like to use a binary on the current implementation of the `t2-cli` to push/run code on the Tessel 2 - what is necessary to do with the result of the `t2 compiler` ?

I would assume, manually edit the package.json what is gen

[2016-01-02 16:51] mulderp commented on #508
Thanks. My first steps are exploring [mdns](http://agnat.github.io/node_mdns/user_guide.html#introduction)

    var mdns = require('mdns')
      , ad = mdns.createAdvertisement(mdns.tcp('http'), 4321)
      ;
    ad.start();

Actually, the Intel Edison and Galileo boards seem to use something called [Connman](https://01.org/connman) to setup connectivity.

[2016-01-02 17:10] mulderp commented on #508
@Student007 that command `dns-sd` seems to work:

[code]

Btw, uci does not work:

[code]

[2016-01-02 17:13] mulderp commented on #508
Hm.. now how to ping that mdns service?

`t2` gives:

[code]

And that Node mnds lib gives no pong back either:

[code]

[2016-01-02 19:00] johnnyman727 commented on #508
That is to be expected - `uci` is an OpenWRT utility. I don't think you'll need it in any case.

I'm not sure why `t2 list` is throwing an error for you. Perhaps one of the underlying OSX or Linux mDNS services is not running.

Your second example won't find it because of this line:
[code]

You need to be browsing for the `tessel` type since that's how you're advertising on your Edison: `dns-sd -R

[2016-01-02 22:43] chrisbodhi commented on #119
I [submitted a PR](https://github.com/tessel/t2-cli/pull/509) for this, but the builds failed. Reviewing [the npm docs](https://docs.npmjs.com/misc/scripts), I came across this bit:

Currently, I'm running a shell script to add the tab completion, which happens as part of the `install` hook. This seemed like the most logical place to put the shell script, but I'm open to suggestions for where else

[2016-01-03 00:50] huseyinkozan commented on #443
Disabling the ufw at ubuntu fixes, but allowing mdns is not. I couldnt find a proper solution in my case.

[2016-01-03 01:43] huseyinkozan opened #510 "Configurable IP Address"
Hi,

I have installed t2-vm and created a vm. But, I cannot `t2 list` while I have firewall enabled. I had allowed mdsn port 5353 but not success (#443). I thing, this is the main reason : [node-mdns-js/issues/45] (https://github.com/mdns-js/node-mdns-js/issues/45).

Can we add an option to set IP address of the device, for example; a file in ~/.tessel/vm.ip. If that file exists, the library shoul

[2016-01-03 14:20] mulderp commented on #508
Thanks for the info. Indeed, it helped me understand better how mDNS works, but on the Poky Linux image I have some troubles. Opened a support ticket with Intel: https://communities.intel.com/message/363704#363704

[2016-01-03 14:27] mulderp commented on #508
About

Not sure, was also seen here https://github.com/tessel/t2-cli/issues/343 - but has less prio for me now.

[2016-01-03 15:56] Student007 commented on #508
@mulderp are you working within a vagrant image (virtual machine I mean)?

[2016-01-03 17:38] johnnyman727 commented on #508
@mulderp yeah, I had seen it a few times but never got to the root of it. Are you on OSX?

To rule out weird network infrastructure problems, you might want to see if you can advertise with your host machine and pick it up in another terminal window:
[code]
[code]

[2016-01-03 17:42] mulderp commented on #508
Thanks, nice trick. Yes, that works. I have the feeling that the problem might be this `connman` tool, that overwrites files in `/etc/` on my device. Or, it is the router that does not act properly as bridge between WLAN and ETH0.
Anycase, there is also the option to retry this on an Raspberry Pi or Beaglebone if I have time.

[2016-01-03 17:53] johnnyman727 commented on #508
@mulderp yeah sounds like something funky happening on the Edison. Unfortunately, I'm not very familiar with the platform so hopefully someone on the forums can chime in.

[2016-01-03 17:56] Student007 commented on #508
@mulderp

would love to hear about your results :+1:  !!!

[2016-01-04 00:19] dtex commented on #371
Update, ownership of that PR has changed a couple of times and they are asking for tests.

Also note that slim builds are not subject to this problem.

[2016-01-04 16:32] rwaldron commented on #96
@Student007 support has not landed yet.

[2016-01-04 17:12] rwaldron commented on #371
Thanks for the update here, we'll have to be sure to re-visit this once the pre-compiled binary modules support is merged

[2016-01-04 17:19] rwaldron commented on #119
Looking at https://github.com/tessel/t2-cli/pull/509/files and I think there is a misunderstanding of the goal for this issue. I want `t2 ...` + `[character]` + `<tab>`. I was using grunt as an example. Grunt cli tab completion for grunt itself is the responsibility of Grunt cli: https://github.com/gruntjs/grunt-cli#shell-tab-auto-completion

[2016-01-04 17:23] Student007 commented on #96
@rwaldron means at the moment I am required to copy this via `scp` to test my binary packages ... ok.

For others ask this: Well, I think a good trick will be to login to the vagrant vm and do `npm install <your hole Tessel projekt>` after `scp` it to the vagrant VM and copy the result (as tgz) via `scp` to the Tessel 2 ...
@rwaldron thanks for your great work - also when it is not landed yet - I

[2016-01-04 17:31] rwaldron commented on #96
Yes, it's clumsy, but soon you won't have to do any `t2 compile` at all, it will be done ahead of time on a host server :)

[2016-01-04 18:10] Student007 commented on #96
@rwaldron need this currently for an lecture exam presentation - so I try to do it manually - your solution is a great thing and will grow minds ... about npms future ...

Maybe later we should describe the way binary developers could use a private installation with a changed binary server within the `t2-cli`... the reason is simple: It is not a good idea to publish untested solutions - but people

[2016-01-04 18:12] rwaldron commented on #96
Yeah, I definitely see the value there. We can visit that once we have more experience with pre compiled modules on T2 in practice :)

[2016-01-04 18:24] Student007 commented on #96
:+1:

[2016-01-04 20:04] johnnyman727 commented on #497
@Student007 I was able to recreate the issue today. I wasn't able to recreate it before because I used the `ssh-add` utility to add my `.tessel` folder to the path SSH looks when attempting to connect to a device - that's why it wasn't a problem that the key was undefined. I apologize for not taking a closer look at the code earlier.

I believe #512 is the simplest way of solving this problem. Wha

[2016-01-04 20:19] johnnyman727 opened #513 "[Discussion] How to handle multiple languages with the CLI"
I recently started investing more effort towards using Rust on Tessel 2. After opening a preliminary PR (#511), @rwaldron brought up some concerns about the code getting too complicated. I wanted to open up a general dialogue about how we might handle multiple languages being deployed to T2.

My initial thought was to use this existing `t2-cli` to deploy code for any type of language. The rational

[2016-01-04 20:29] johnnyman727 commented on #510
@huseyinkozan I agree that we need support for Tessels that may not be discoverable with mDNS for one reason or another.

This is a duplicate of https://github.com/tessel/t2-cli/issues/70 - would you mind continuing the discussion there?

[2016-01-04 20:29] #510 closed

[2016-01-04 21:13] mulderp commented on #508
Ok, with another subnet on the Router 192.168.3.0 and an Edison, `mdns` is working. Now, I need to start extending the browser command from t2-cli.

[2016-01-04 21:24] Student007 commented on #497
@johnnyman727

OK - this explains why I couldn't follow your arguments and why I got angry about things you did I interpreted as bad game. :love_letter:

I commented the code and created a new PR #514 including your tests due to the idea @rwaldron idea to take Tessel instead of Controller as base for the default parameter.

[2016-01-04 21:31] Student007 commented on #508
@mulderp cool !! thought you stopped working because of this. Go forward its great what you are doing :+1:
Easiest way is you fork the t2-cli ([as all contributors should do](https://github.com/tessel/project/blob/master/CONTRIBUTING.md#2-set-up-your-branch)) and work in a branch. Maybe it fits and we could merge it !

[2016-01-04 21:36] johnnyman727 commented on #508
:clap: Nice job @mulderp!

[2016-01-05 01:02] johnnyman727 commented on #419
I'm unable to reproduce this issue over USB but it's consistent over LAN. I've spent about an hour trying every possible way to close the SSH connection but I'm thinking it's either an issue with the `ssh2` lib or with how OpenWRT manages SSH connections.

I've opened a relevant issue on the `ssh2` dependency with a smaller test case here: https://github.com/mscdex/ssh2/issues/382

Worst case, I s

[2016-01-05 01:04] johnnyman727 commented on #419
Potentially relevant: if I run a command with `ssh` built in to OSX and close the output, the process continues after aborting...:
[code]

Anyone else have an idea how to tell it to stop on SSH connection ending?

[2016-01-05 01:12] johnnyman727 commented on #419
Figured it out from [this stack exchange question](http://unix.stackexchange.com/questions/103699/kill-process-spawned-by-ssh-when-ssh-dies). By adding `-t -t` to my `ssh` command in the terminal, it closed the process when I SIGINT'ed. The [SSH manpage](http://linuxcommand.org/man_pages/ssh1.html) notes that `-t` is used for "psuedo-tty allocation". I looked up the `ssh2` docs for something relat

[2016-01-05 03:19] johnnyman727 commented on #507
Unfortunately, #506 just prints a warning and then enables/disables the AP. It does not modify the AP if a new `ssid`, `password`, or `security` setting is provided.

[2016-01-05 03:53] Frijol commented on #513
The central conflict seems to me to be between doing it in the most correct way vs doing it in a way we have the ability to maintain. By which I mean: creating the CLI in every language seems like the canonically correct approach, but I don't think we have the resources to actually create and maintain that many CLIs.

[2016-01-05 04:42] johnnyman727 commented on #513
We stated that we would support Rust and Python. I think plugins that we can submodule make it more feasible to have the community that is excited about any particular language have ownership over it rather than relying on our small team to cover more bases. Certainly, a separate CLI would have the same effect.

[2016-01-05 07:03] johnnyman727 commented on #496
Whoops, this seems to have been an issue with a misconfigured Tessel. Closing for now.

[2016-01-05 07:03] #496 closed

[2016-01-05 16:44] chrisbodhi commented on #119
Thanks for clearing that up. Are you thinking of something along the lines of this: https://github.com/creationix/nvm/blob/master/bash_completion ?

[2016-01-05 18:19] #497 closed

[2016-01-05 18:21] johnnyman727 commented on #419
Fixed by #515.

[2016-01-05 18:21] #419 closed

[2016-01-05 19:14] rwaldron commented on #119
@chrisbodhi yep—exactly like that :)

[2016-01-05 20:09] #350 closed

[2016-01-05 20:15] johnnyman727 commented on #470
@LinusU is the expected outcome of this issue that we mark a specific version in the `engine` field of the package.json?

[2016-01-05 20:16] johnnyman727 commented on #415
Will be fixed with #516.

[2016-01-05 20:17] johnnyman727 commented on #408
This is a dup of #271.

[2016-01-05 20:17] #408 closed

[2016-01-05 20:19] johnnyman727 commented on #464
Closing because this was due to my own misunderstanding of how `ap` works.

[2016-01-05 20:19] #464 closed

[2016-01-06 00:02] LinusU commented on #470
@johnnyman727 That and going thru the code to take advantage of the newer features that this brings us. As outlined in this comment: https://github.com/tessel/t2-cli/issues/470#issuecomment-160171309

I'll add a checklist to the actual issue now :)

[2016-01-06 08:19] Student007 commented on #507
@HipsterBrown think you are currently working on it and it isn't necessary I am further trying to provide the PR for something is covered by your work. Also you could use my provided solution or something and make it better than #506 (with tests of cause as @rwaldron mentioned at #506).
I am back in lecture and exam period from tomorrow on. For that I assigned you to this issue.

[2016-01-07 06:10] chrisbodhi commented on #119
@rwaldron :cool: I should be able to get to it this weekend. :raised_hands:

[2016-01-07 06:33] johnnyman727 commented on #119
:exclamation: :exclamation: :exclamation:

[2016-01-07 11:08] freethan commented on #415
Cheers! Thanks for getting back to me on this.

[2016-01-07 21:51] #495 closed

[2016-01-10 19:53] #475 closed

[2016-01-11 01:35] #96 closed

[2016-01-11 01:36] johnnyman727 commented on #415
I got it! Thanks.

[2016-01-11 01:36] #415 closed

[2016-01-11 01:37] #487 closed

[2016-01-11 01:39] johnnyman727 commented on #378
Closing because this is essentially the same as #287 (we need to give feedback on progress).

[2016-01-11 01:39] #378 closed

[2016-01-11 18:23] rwaldron opened #520 "Add /mime/types/*.types"

[2016-01-11 18:25] rwaldron opened #521 "Add "mime/types/*.types" to deploy-lists.js, under "includes""
@HipsterBrown noted here: https://github.com/tessel/t2-cli/pull/472#issuecomment-170390445

[2016-01-12 05:59] chrisbodhi commented on #119
Finished the bash script over the weekend, but wanted to get in zsh support, too. I based the list of supported commands from what I found in `bin/tessel-2.js`, but I could have misunderstood some of what was going on there. Please feel free to correct me!

[2016-01-14 14:39] StefanSchwartze opened #523 "Wifi turns off itself after few seconds"
When successful connected to a wifi network, almost immediately itself turns off the wifi module. After a time, it turns on and off again. When connected with ssh, it logs the following:
[code]
[log.txt](https://github.com/tessel/t2-cli/files/90522/log.txt)

[2016-01-15 18:13] HipsterBrown opened #524 "copySync errors swallowed, hanging deploy"
While working on a [smoke test](https://github.com/tessel/t2-compiler/issues/14#issuecomment-171880205) for t2-compiler, the deployment would hang after `INFO Connected to...`. I discovered this was due to [`fs.copySync`](https://github.com/jprichardson/node-fs-extra#copysync) blocking errors inside of the `actions.injectBinaryModules` function.

[2016-01-15 18:22] HipsterBrown opened #526 "Binary not found in details.extractPath, 'Release', details.binName"
While working on a [smoke test](https://github.com/tessel/t2-compiler/issues/14#issuecomment-171880205) for t2-compiler, I discovered the path to `leveldown` binary was not found in `~/.tessel/binaries/leveldown-1.4.3-Release/Release/leveldown.node`. Instead it was located in `~/.tessel/binaries/leveldown-1.4.3-Release/package/build/Release/leveldown.node`.

Should we use `path.resolve` before try

[2016-01-15 20:57] #520 closed

[2016-01-15 21:21] HipsterBrown opened #528 "Toggling the Tessel access point requires ssid"
When trying to `--trigger` my Tessel access point, the cli would insist I needed to include an ssid:

[code]

Not sure an ssid should be necessary for toggling an access point on or off.

[2016-01-15 21:30] #521 closed

[2016-01-16 18:55] #528 closed

[2016-01-16 23:01] #119 closed

[2016-01-17 19:37] #524 closed

[2016-01-18 06:56] MrNice commented on #513
I'm completely unfamiliar with any of the technological progress which has enabled the t2-cli to work. With that in mind, the following is entirely based off of intuition, please disregard as necessary.

## THE HOLY GRAIL GOAL
Let every user plug a t2 into their computer, install the CLI using their favorite package manager (mine is npm, some people like apt, others brew or yum, still others like

[2016-01-18 16:52] johnnyman727 commented on #524
@HipsterBrown could this also be the cause of https://github.com/tessel/t2-cli/issues/271? Or maybe just one of a number of causes.

[2016-01-18 16:59] HipsterBrown commented on #524
It could be. The best practice in the future would be to add a `.catch()` to every Promise chain, so we can throw or reject those swallowed errors.

[2016-01-18 17:02] johnnyman727 commented on #524
:+1: good point. I'll keep my eye out to see if I hit this hanging issue anymore. I've tried to make sure all errors are being passed up the chain but it's totally possible I missed a few cases.

[2016-01-18 17:17] johnnyman727 commented on #528
@HipsterBrown out of curiosity, why is the `trigger` flag needed here? Why not make `t2 ap --on` or `t2 ap --off` possible?

[2016-01-18 17:29] HipsterBrown commented on #528
I was thinking about that recently. I want to refresh the `t2 ap` interactions a bit to have parity with `t2 wifi` because the `--trigger` flag is not a great name or intuitive workflow. We still would need to remove that required flag from `bin/Tessel-2.js` for `--on` / `--off` flags to work.

[2016-01-18 17:29] johnnyman727 commented on #528
:+1: Will make an issue for it.

[2016-01-18 17:31] johnnyman727 opened #536 "Remove --trigger flag from ap command"
In order to have usage parity with `t2 wifi`, `t2 ap` should have the `--trigger` option removed (used to turn the access point on and off) so that the usage is (`t2 ap --on`) rather than (`t2 ap --trigger on`). See https://github.com/tessel/t2-cli/issues/528 for more discussion.

[2016-01-18 18:01] johnnyman727 commented on #513
@MrNice Creating a cross platform `tessel` executable would be a really elegant solution (especially if we were able to write it in Rust). I think the biggest hurdle right now (besides having the time to get such a big undertaking done) is the lack of USB support in Rust. It looks like @kevinmehall [started such a project](https://github.com/kevinmehall/rust-usb) but it hasn't been updated in a wh

[2016-01-18 18:09] johnnyman727 commented on #526
@rwaldron would be the expert on this.

[2016-01-18 18:17] kevinmehall commented on #513
I [deprecated](https://github.com/kevinmehall/rust-usb/issues/17#issue-80633047) my usb crate because another project surpassed it: https://github.com/dcuddeback/libusb-rs. It should have everything you need.

[2016-01-18 18:21] johnnyman727 commented on #513
Ah, thanks @kevinmehall my meager Googling couldn't find a Rust USB lib.

[2016-01-18 18:53] MrNice commented on #513
@kevinmehall Awesome!

@johnnyman727
I was not clear!

I want to not write rust code when I add BASIC support to tessel.

I want to, at most, write BASIC code that interacts with the rust code. I'm willing to at least write out JSON which describes how to deploy and run BASIC code. A JSON DSL, like Grunt or npm or any number of other tools use.

I don't know enough about the current deployment str

[2016-01-18 23:06] johnnyman727 commented on #513
@MrNice I think we could to that by giving the standard library a callback to execute once we're ready to deploy code (ie a language plugin). Each language will be responsible for how it compiles, deploys, and runs, etc. The standard library can expose the same sort of `tessel.exec` function for running arbitrary shell commands on the Tessel.

[2016-01-19 03:13] adkron commented on #513
Could we have a more modular interface, like that of the git command. Then the communities can write their own deployers, and other interaction pieces. `t2 js deploy hellow_world.js` `t2 python deploy hello_world.py`.

[2016-01-19 05:35] rwaldron commented on #526
I will take a look at this as soon as I can (probably Wednesday). I have a pretty good idea of what needs to be fixed, I just need time to work through it.

[2016-01-21 01:01] johnnyman727 commented on #513
@adkron I think you're suggestion is more or less in line with @MrNice's: make a cross-platform library that any other language can call into. Does that sound about right?

[2016-01-21 01:16] adkron commented on #513
@johnnyman727, I wasn't thinking a library. With git there is a single command and you can create any executable and name it `git-foo.<extension>`. As long as it is in the path the git command will find it when you run `git foo` and execute it. We could do the same thing and anyone could write it. If we had a script in the path called `t2-rust.rs` and the command like could call it with `t2 rust d

[2016-01-21 01:16] adkron commented on #513
Here is someone talking about building git extensions. =
http://blog.santosvelasco.com/2012/06/14/extending-git-add-a-custom-command/

[2016-01-21 01:19] MrNice commented on #513
I'm specifically saying: Build a cross platform library, then wrap it in a
CLI. That provides FFI for languages which support it, and shell commands
for those which don't (and also human users).

The "modular interface" refers to how the Git command line api is
structured, as in git remote add and git add are completely different.

I'm against 'tessel python init' 'tessel python run', and for 'tes

[2016-01-21 02:00] johnnyman727 commented on #15
@rwaldron at the last Steering Committee meeting, @tcr and @Frijol brought up that you feel like we should not merge this repo with the original `tessel` repo. Can you share your thoughts here when you get a chance?

[2016-01-22 14:48] rwaldron commented on #15
Sure, maybe some of my concerns can be answered:

- Firstly, there is no clear definition of what it means to "merge" these two, both on the repository level and the actual tool level.
- Will there be two code paths?
  - Will dependencies for both versions be installed? What about conflicting versions?
  - What is the plan, or expectation, for maintaining tooling for both code paths?
- Will `t2` s

[2016-01-22 14:51] rwaldron commented on #513
I don't understand why npm would be used to distribute a Rust binary, when clearly Node.js is installed on said machine—otherwise npm wouldn't be installed.

[2016-01-22 15:20] rwaldron commented on #526
I'm going to hold off on this for now because the binary isn't available anymore and was also built incorrectly (according to @reconbot). I just did a local npm install and the path matched the one that would be expected.

[2016-01-22 17:23] johnnyman727 commented on #15
Cool, I think I can answer those although I have admittedly not thought this through completely yet.

What I had in mind was that we would create a new repo, called `tessel-cli`. It would have the [t1-cli](https://github.com/tessel/t1-cli) and this t2-cli as submodules. This parent `tessel-cli` would be the one that gets published to `npm` as `tessel`. We will need to move the logic that determine

[2016-01-22 17:27] rwaldron commented on #15
Which means supporting two code paths for each, right? Because you need _both_ T1 and T2 operations for listing and detection/selection, right?

[2016-01-22 20:17] johnnyman727 commented on #15
I can imagine the parent CLI just asking both the `t1-cli` and `t2-cli` to report any connected devices. Those code paths already exist in each CLI independently (even though the t1 detection is a subset of t2 detection (only USB, no LAN)).

We could also just start publishing `t2-cli` as `tessel` once T2s start shipping and increment the major number of the package version. The t1-cli can be publ

[2016-01-22 20:27] rwaldron commented on #15
So if the detection and listing operations move from t2-cli, then it's no longer something that can be used standalone?

[2016-01-22 20:31] johnnyman727 commented on #15
Potentially.

Another option is to let both the `t1-cli` and the `t2-cli` have independent scanning/selection processes and just have the parent CLI prefer one or the other.

Again, I'm not 100% confident this is the right thing to do, just trying to work through the options.

[2016-01-24 02:15] johnnyman727 opened #538 ""Golden Image" firmware incompatible with CLI at master"
The `t2 provision` command (and any command that needs to send more than 255 bytes to the T2 before finishing) will fail when using `t2-cli` on https://github.com/tessel/t2-cli/commit/1e2c781e3e1f341993894aba41041ab165fc441f (Dec 11) or later with a device coming out of the factory. The factory's golden image is using [this OpenWRT build](https://github.com/tessel/openwrt-tessel/tree/209b5d98c2aa9

[2016-01-25 22:48] rwaldron commented on #538
Why are they using such an old version?

This seems like the _only_ solution :\

Also, +1 to both of your "yucks"

[2016-01-26 01:19] Frijol commented on #538
+1 to @rwaldron 's comment. Ugh.

[2016-01-27 01:58] johnnyman727 commented on #523
@StefanSchwartze did you confirm that this was an issue with your router?

[2016-01-27 02:08] johnnyman727 opened #539 "Binary Dep Failure: audiovideo"
I'm attempting to deploy [`node-audiovideo`](https://github.com/tessel/node-audiovideo) to Tessel 2.

It won't build on OSX because one of the deps (`node-jpeg`) doesn't yet support Node 4.

I continue to install it with `npm install audiovideo --force` and used this script:
[code]

I get this error when I try to run it:
[code]

[2016-01-27 08:19] LinusU commented on #539
If `node-jpeg` doesn't support Node 4, than it shouldn't be able to run on the Tessel either since that is using a newer node as well? Or am I missing something...

[2016-01-27 08:30] johnnyman727 commented on #539
Yes, I think that's likely but it looked like the CLI was having trouble locating the path of the actual binary (it will still fail once that's resolved).

[2016-01-27 08:33] johnnyman727 commented on #538
I fixed this by uploading the latest OpenWRT and firmware (`0.0.7`) to the server that returns builds to the testalator (option 1).

For future reference, this is how it's done: https://gist.github.com/jiahuang/bdd0b5abd0421a94ed7d.

[2016-01-28 18:21] rwaldron commented on #539
Is there a pre-compiled binary for this module on the pre-compiled binaries server?

[2016-01-28 18:26] rwaldron commented on #539
Not sure why, but this doesn't compile with the t2-compiler.

[code]

cc @tcr

[2016-01-28 18:27] rwaldron commented on #538
So this is resolved?? :O

[2016-01-29 01:40] johnnyman727 commented on #539
I believe @tcr has a branch that fixes these errors and that generated the build that's currently on packages.tessel.io.

[2016-01-29 01:42] johnnyman727 commented on #538
I don't want to mark it resolved until I've tested it on the test bench and confirmed with Seeed that we're good to go.

[2016-01-30 01:04] rwaldron commented on #539
Well, if @tcr wants to push that branch so I can generate it locally and walk through the build process, that would be great.

[2016-01-30 01:06] rwaldron commented on #539
I will try to see what I can learn from the existing pre-compiled binary

[2016-02-02 18:18] rwaldron commented on #539
When I look at the installed and (force) built `audiovideo` module's directory, it looks like `capture.node` was created in two places? Once where it was expected and one that's not in a commonly used path:

Here's how I discovered this:

[code]

Here's a slightly elided directory view:

[code]

Notice `capture.node` is found twice—I don't think it's necessary for `audiovideo` to over complicate i

[2016-02-02 18:32] rwaldron commented on #539
Also, the `jpeg` module needs to be precompiled as well.

[2016-02-02 19:01] io2work opened #540 "Cannot install on Windows 10"
_npm install -g t2-cli_ fails on Windows 10. I've tried installing it with Node 0.12.7 and with Node 4.2.6. I've also tried it with and without running CMD as an admin. See stdout & stderr below...

[code]

[2016-02-02 20:27] tcr commented on #539
The `jpeg` module is very out of date and we may want to publish a new one, i.e. `nan-jpeg`, or perhaps ping @pkrumins about considering https://github.com/pkrumins/node-jpeg/pull/22.

I had no issues compiling node-jpeg on t2-compiler, but it being a branch is probably contributing to its issue.

[2016-02-02 20:33] johnnyman727 opened #541 "[Feature] Enable 3G Dongles"
To get 3G Dongles working, we'll need to update some dependencies on the device, add a udev rule, and finally add logic to the CLI to write the appropriate options to the `/etc/config/network` file. This issue is about that final piece which needs to be in t2-cli.

To see how to do this, check out https://wiki.openwrt.org/doc/recipes/3gdongle.

[2016-02-02 20:58] tcr commented on #539
Temporary fork: https://github.com/tessel/node-libjpeg

[2016-02-02 21:06] johnnyman727 commented on #539
"temporary"

[2016-02-02 21:09] rwaldron commented on #539
Which "version" of node-jpeg? I tried:

[code]

Which had this result:

[code]

(I've elided most of the output)

I've also just now tried this:

[code]

Which has the same result as above.

[2016-02-02 21:13] johnnyman727 commented on #539
@rwaldron did you flash your Tessel with a latest build from https://github.com/tessel/openwrt-tessel?

[2016-02-02 21:16] johnnyman727 commented on #539
Or rather, I think the issue is just that the cross compiled toolchain hasn't been updated here:
https://github.com/tessel/t2-compiler/blob/master/Vagrantfile#L71

[2016-02-02 21:34] johnnyman727 commented on #540
This is interesting: it looks like even though you installed globally, the post script was unable to find `t2` binary on your PATH. I'm not sure why that would be if it installed properly. Have you been able to use other globally installed packages on this machine?

[2016-02-02 22:28] io2work commented on #540
I ended up finding this on StackOverflow...
http://stackoverflow.com/questions/27344045/installing-node-js-and-npm-on-windows-10

After reinstalling Node.js 4.2.6 and setting the path variables to
%AppData%\npm & %ProgramFiles%\nodejs it installed just fine.

--------------------

"Here's the key to becoming irreplaceably valuable in any organization. In
4 words: Bring solutions, not problems." -S

[2016-02-02 22:28] io2work commented on #540
I ended up finding this on StackOverflow... http://stackoverflow.com/questions/27344045/installing-node-js-and-npm-on-windows-10

After reinstalling Node.js 4.2.6 and setting the path variables to %AppData%\npm & %ProgramFiles%\nodejs it installed just fine.

[2016-02-02 22:30] johnnyman727 commented on #540
Fantastic, thanks for investigating!

[2016-02-02 22:30] #540 closed

[2016-02-02 23:54] johnnyman727 commented on #539
I'm still not able to get this to compile. @tcr maybe you can help.

I checked out tessel/openwrt-tessel at master (where you have added the libjpeg dep) and built it. I then placed the toolchain binaries into a folder and uploaded the tarball exactly where the `t2-compiler` is looking:

https://github.com/tessel/t2-compiler/blob/master/Vagrantfile#L71

I then deleted by old vagrant instance (`vag

[2016-02-03 01:45] johnnyman727 commented on #539
Next steps are to clean up `audiovideo` to only output one binary and make a new npm publish/binary module server publish for `audiovideo@1.2.0`.

[2016-02-03 05:41] johnnyman727 commented on #539
I've published `audiovideo@1.2.0` to packages.tessel.io. It fails to compile on OSX but I'm not sure if that's an issue. I just forced the install to make sure all the relevant directories exist (`npm install https://github.com/tessel/node-audiovideo --force`).

I tried a simple `t2 run index.js` again but the only binding the CLI found was for `audiovideo` itself so when it was run on the device,

[2016-02-03 19:30] johnnyman727 commented on #271
I believe I've tracked down the source of this error. We [run `simpleExec`](https://github.com/tessel/t2-cli/blob/2837f6c3364077fb840ef7f536f174e8bd4200bd/lib/tessel/tessel.js#L102-L111) when we just want to execute a remote command and get `stdout` back to the calling function. The issue arises when the command is [executed](https://github.com/tessel/t2-cli/blob/2837f6c3364077fb840ef7f536f174e8bd

[2016-02-03 22:40] rwaldron commented on #539
I've spent significant amount of time with this issue over the last two days and I've determined that this is absolutely not an issue in t2-cli

[2016-02-03 22:40] #539 closed

[2016-02-03 23:02] johnnyman727 commented on #539
@rwaldron do you know why CLI doesn't try to inject the libjpeg binary dep?

[2016-02-03 23:25] rwaldron commented on #539
I suspect it's because it doesn't get built...

[code]

![](https://i.gyazo.com/5df3c7cbebf335f15cadcd2c32d6e160.png)

TBH, it's felt very wasteful to approach this from a "bug in t2-cli" perspective.

[2016-02-03 23:26] rwaldron commented on #539
Also:

Has left me with an unusable t2-compiler vm.

[2016-02-03 23:27] rwaldron commented on #539
More thoughts on this...

I'm going to work on making binary deps detectable even when the `.node` binary isn't present, but this is absolutely not the issue to track the work in.

[2016-02-03 23:29] rwaldron opened #542 "Investigate ways of making binary deps detectable even when the .node binary isn't present"
If the dep doesn't build on the local machine, even with `--force`, try to detect the dependency for inclusion in the deployment.

[2016-02-03 23:29] rwaldron commented on #539
https://github.com/tessel/t2-cli/issues/542

[2016-02-04 12:42] flaki commented on #490
Oh yes I was wondering why running any `t2` command were this unnervingly slow.

[2016-02-04 16:49] johnnyman727 commented on #490
@flaki I did a preliminary investigation and it looks like the 3-5 seconds are actually just processing all the `require` statements. We might want to implement a way to more lazily load those dependencies.

[2016-02-05 20:18] flaki opened #544 "Inconsistent working directory for t2 push/run"
The default working directory is inconsistent between `push`-ing and `run`-ning a project.
`process.cwd()` is `/root` instead of the project directory -- but only when using `t2 run`, `t2 push` sets it to the app directory (currently `/app/remote-script`).

[2016-02-06 01:13] johnnyman727 commented on #544
@flaki interesting find! My guess is that this is probably because when we `run` a command, we just call `node /tmp/remote/script/` but when we `push`, we actually [`cd` into the `\app` directory first](https://github.com/tessel/t2-cli/blob/master/lib/tessel/deploy.js#L791-L795). I think the right way to fix this is to remove the `cd` and just execute the absolute path.

[2016-02-06 18:16] rwaldron commented on #544
@flaki if you want to do the fix: https://github.com/tessel/t2-cli/blob/master/lib/tessel/deploy.js#L793

Likely needs updates in tests as well

[2016-02-07 17:47] rwaldron commented on #490
I'm immediately suspicious of third party modules.

A quick survey turns up a few we could do without (whether they are causing issues, I can't say, but unnecessary none-the-less):

- bluebird
  - just use built in Promise
- debug
  - used inconsistently anyway?
- osenv
  - getting "home" is done in deploy.js without a 3rd party module, we can refactor and reuse our own utility
- async
  - as used

[2016-02-07 17:48] rwaldron commented on #490
Addressing various fixes should be done in different PRs, vs one huge change set

[2016-02-08 07:39] LinusU commented on #490
Yes please

It seems like the `.closeProcess` is asynchronous and that all processes should be closed after each other. There is however a big problem with this code since it will never return if `(proc)` ever is falsely, since the then the callback will never fire.

This could be much easier written using `Promise.all`

lodash provides all functions as separate modules, this make nodejs only load

[2016-02-08 16:37] Frijol opened #546 "Help printout is broken again"
This is a resurgence of https://github.com/tessel/t2-cli/issues/83

Probably the answer is the same as last time: https://github.com/tessel/t2-cli/pull/274

[2016-02-08 17:01] rwaldron commented on #490
Ah, I think I understand now. I'll ping you if I have more Qs.

Great!

[2016-02-08 17:03] #546 closed

[2016-02-08 17:21] #271 closed

[2016-02-08 18:57] rwaldron opened #549 "bin/tessel-2.js: key(opts) from lib/key() doesn't do anything useful"
- in `bin/tessel-2.js`, this line: https://github.com/tessel/t2-cli/blob/8b3f6be206b5d1edd64802b9eedfce971ffffd59/bin/tessel-2.js#L12 creates `key`
- in `bin/tessel-2.js`, `key` is called as a function here: https://github.com/tessel/t2-cli/blob/8b3f6be206b5d1edd64802b9eedfce971ffffd59/bin/tessel-2.js#L243-L244
- in `lib/key.js`, a function is exported: https://github.com/tessel/t2-cli/blob/master

[2016-02-08 19:10] rwaldron commented on #490
I've been collecting require times with the following patch:

[code]

Here are the samples I've collected:

| Requires | Seconds |
| -------- | ------- |
| \* | 1.241460 |
| \* | 0.770719 |
| \* | 0.771913 |
| \* | 0.762594 |
| \* | 0.781253 |
| \* | 0.771329 |
| \* | 0.776777 |
| \* | 0.802594 |
| \* | 0.770142 |
| \* | 0.778224 |

| Requires | Seconds |
| -------- | ------- |
| no requires | 0.0

[2016-02-08 20:21] mulderp commented on #508
Some note that the Redbear Duo comes with an Arduino sketch that supports mdns:

https://github.com/redbear/STM32-Arduino/blob/master/arduino/libraries/RedBear_Duo/examples/01.Basics/Duo_WebServer/Duo_WebServer.ino#L42-L44

Might try later to discover the device with t2-cli

[2016-02-09 14:31] StefanSchwartze commented on #523
Oh, I'm sorry I didn't answer yet. I've also tried it with the same WPA2 security on another router, but I've got the same error. Connecting with WPA works fine.

[2016-02-10 00:43] #549 closed

[2016-02-10 09:20] LinusU commented on #490
@rwaldron Awesome work! Looking forward to spending more time on this :)

[2016-02-10 20:39] LinusU opened #553 "commitAndClose in access-points.js is silently dropping errors"
This is mostly a reminder to myself, but the `commitAndClose` function should probably return the `Promise` instead of taking `resolve` argument...

[2016-02-10 20:42] LinusU commented on #553
Hmm, going thru the code I'm starting to think that this problem is in quite a few places. There is a lot of `.then(resolve)`, sometimes even used together with `.catch(reject)` _and_ returning a Pomise at the same time...

[2016-02-10 20:46] LinusU commented on #553
And a lot of this pattern

[code]

That should be written as:

[code]

[2016-02-10 20:47] johnnyman727 commented on #553
:+1: nice catch @LinusU

[2016-02-10 21:16] LinusU opened #554 "[code] USB.Connection.prototype._close are releasing zalgo"
[Releasing zalgo](http://blog.izs.me/post/59142742143/designing-apis-for-asynchrony) is very bad, it releases H̵͘͡e ̡wh́o͠ ̶Prom̀͟͝i̴s̀es̀ o҉̶nl̨͟y̧ ̛̛m̴͠͝a̡̛͢d̡n̴̡e͝s̸s͠, T̢҉̸h̴̷̸̢ȩ͡ ͘͠N͢͢e͏͏͢͠z̛͏͜p̸̀̕͠ȩ́͝͝r҉̛́͠d̴̀i̴̕҉͞a̴̡͝͠n̢͜͟͢͟ ̶̴̢͝h̷̕͠í̸̧̛͜v̶̢͢͡e̕͡-̸̀͝m̷͜i̛͘͞ņ̛͘͟҉d̶̶̡̧͜ ̷̛͞o̵̢͘͟͞f̶̢̀͢͢ ̶̧͟͡c̕͝h̶̀͘͘à͏o҉̴́͢s̸͘͘͝͞.̨͢͞.

[2016-02-10 21:31] LinusU opened #556 "[code] Why isn't USBDaemon using the prototype"
Instead of using the prototype, it defines all the functions locally in the constructor instead. Is there a valid reason for this?

[2016-02-10 21:33] johnnyman727 commented on #554
I didn't click the link but I think I know what you're talking about. Actually, I just fixed it as I was improving integration with our test rig software: https://github.com/tessel/t2-cli/pull/555/files#diff-b6ac01199a2ad325c2bc013dd0a23ee6R196

[2016-02-10 21:34] johnnyman727 commented on #556
I was essentially making a Singleton class. Is there a better way to do it?

[2016-02-10 21:46] LinusU commented on #554
That's not quite it, a function is said to release zalgo when it takes a callback, and when that callback might be called immediately _or_ in some other tick, but there is no way to know which one.

I should mention that the link goes to blog of Isaac Z. Schlueter, the creator of Npm. It's in no way dangerous, the broken text has merely become an inside joke when referring to zalgo :)

[2016-02-10 21:49] LinusU commented on #556
The line that makes it a singleton in this case is just the `module.exports = new USBDaemon();`, so the class in itself could use to more standard way of defining a class.

It could therefor look like this which makes it, at least in my opinion, much more readable:

[code]

[2016-02-10 22:01] LinusU opened #557 "[unit tests] Flaky tests in access-point.js"
Ever so often I get this output when running the tests locally. Rerunning fixes it.

[code]

[2016-02-10 22:03] johnnyman727 commented on #557
Thanks for reporting this. I've also seen this a bunch of times but didn't record it in our issues.

[2016-02-10 23:38] rwaldron commented on #554
@johnnyman727 this line: https://github.com/tessel/t2-cli/blob/master/lib/usb_connection.js#L206 needs to be wrapped in a `process.nextTick` or `setImmediate`

[2016-02-11 15:58] flaki commented on #544
Haha thanks @johnnyman727/@rwaldron, started looking into it! ;)

(also, I was AFK few days, and now that I returned I kept staring at the promise rejection you both link to and was like "how the hell are those two related??", then realized the tree must've changed since, and indeed it did :D https://github.com/tessel/t2-cli/blob/2837f6c3364077fb840ef7f536f174e8bd4200bd/lib/tessel/deploy.js#L793 )

[2016-02-11 16:10] flaki opened #560 "Make it easier for newcomers to understand & start hacking on the CLI"
So when I got back into in the saddle with the Tessel 2 (especially with the CLI), I could practically be considered as a newcomer, I had to re-learn and re-discover the whole of the CLI & the source.

What I realized was that it was suprisingly hard to "uncover" the "magic" the CLI was hiding/abstracting away — but what it was doing most of the time is that it was channeling commands to the T2's

[2016-02-11 16:28] johnnyman727 opened #563 "[list] change help text when unprovisioned device is already connected over USB"
If you run `t2 list` and it detects a T2 over LAN that hasn't been provisioned yet it prints out the following next to the name:
[code]
It prints the same thing if that particular T2 is already connected via USB. We should change the help text in this case to say just:
[code]

[2016-02-11 16:47] johnnyman727 opened #564 "`t2 update` will try to update to the earliest build"
I recently wrote a script to automate releases. It updates `builds.json` on our build server which is how the CLI figures out which builds are available. The script updates the array of optional builds in reverse order than how I used to update the builds manually.

Rather than change the build script, the CLI should be able to handle the builds in any order. The best way to do this is to sort the

[2016-02-11 16:51] johnnyman727 commented on #560
I think #561 is probably one of the most helpful contributions towards making things more transparent. Other things would be allowing folks to see `stdout`, and `stderr` data, when a particular process has closed, what it's exit code was, and whether any data was written to `stdin` for a process.

The `DEBUG=discovery:*` tag that exists is also pretty helpful for diagnosing connection issues.

[2016-02-11 16:52] johnnyman727 commented on #544
Sorry about that confusion! Code is moving fast around here. :clap:

[2016-02-11 18:07] #544 closed

[2016-02-13 04:03] johnnyman727 commented on #556
Well, also [this part](https://github.com/tessel/t2-cli/blob/master/lib/usb/usb_daemon.js#L16-L20) but you're still totally right. We could make it use the `prototype` chain - I was just trying something new at the time :)

[2016-02-13 04:17] johnnyman727 commented on #554
Ah got it. Yeah Zalgo sounds bad. We should fix that.

[2016-02-13 18:28] LinusU commented on #556
True, although it won't actually hit that since the class itself isn't exported, so there is no way to actually instantiate it again :)

[2016-02-15 22:25] Frijol commented on #560
@flaki thanks for making this issue! That gist is extremely useful - perhaps it can live in the Docs repo?

I have hopes that we can turn Docs into not just APIs but also docs for contributors. I tried separating them out on the Onboarding repo at first, but think this would be a better approach.

[2016-02-15 23:36] #542 closed

[2016-02-16 00:42] johnnyman727 opened #573 "For the love of god help Travis find Wrappy"
Our Travis CI build have false negatives very often because Travis claims that it can't find the module `wrappy`. The fix is to just rerun the test. This happens to virtually every PR and it's maddening. Log output is below:
[code]

[2016-02-16 06:09] LinusU commented on #573
I've encountered this with another dependency than wrappy as well...

Also, the strange thing is that I restarted it 4 times before giving up, but then letting it sit for a while, it seemed like it worked on the first restart...

[2016-02-16 06:18] johnnyman727 commented on #573
@LinusU do you think this is an issue with `NPM`, Travis, our CLI, or the specific module?

[2016-02-16 06:52] LinusU commented on #573
I'm leaning against npm actually, but I'm not 100% sure. I've seen a lot of problems with npm after they released version 3 so I wouldn't be surprised...

Looking thru the npm issues now but they seem to be getting in a ton of bugs a day so it's very hard to find relevant info...

[2016-02-16 06:55] LinusU commented on #573
Hmm, it always seems to be in the `npm` dependency though, I wonder if that's significant....

[2016-02-16 17:05] rwaldron opened #574 "Add ws to deploy blacklists"
`ws` doesn't compile for our openwrt build, but isn't necessary for socket.io to function correctly. Before https://github.com/tessel/t2-cli/commit/32f95fe163986ba482a96aae04d4eb1393ea564a, the missing .node was just ignored and socket.io worked just fine when deployed to a tessel. After https://github.com/tessel/t2-cli/commit/32f95fe163986ba482a96aae04d4eb1393ea564a, there are warnings about it b

[2016-02-16 17:13] johnnyman727 commented on #574
@rwaldron are you getting the same `TypeError: Cannot read property 'targets' of undefined` error when you try to compile or something different?

[2016-02-16 17:44] rwaldron commented on #574
No, I'm seeing

[code]

Can you file a separate issue for that error—thanks!

[2016-02-16 17:49] johnnyman727 commented on #574
@rwaldron to be clear, I got that error from `t2-compiler` - I wasn't using the CLI yet. I'll open an issue on `t2-compiler`.

[2016-02-16 17:51] rwaldron commented on #574
No, it was:

[code]

[2016-02-16 17:52] johnnyman727 commented on #574
Here is the issue I filed: https://github.com/tessel/t2-compiler/issues/17.

[2016-02-16 18:40] rwaldron commented on #574
It looks like the missing `main` poperty has been resolved: https://github.com/websockets/ws/commit/523b61f7d7aa92fdc15ac406c5c6b03b71b4259a

Also, I believe the issues here were caused by my using a much older version of `ws`

[2016-02-16 19:05] johnnyman727 commented on #574
Okay great - so once they make a new release, we can throw it up on packages.tessel.io and this shouldn't be an issue anymore.

[2016-02-16 19:07] rwaldron commented on #574
I've just tried my example socket chat app with latest socket.io (which installs latest ws)

https://www.youtube.com/watch?v=q06xu8_E2IA

[2016-02-16 19:07] #574 closed

[2016-02-16 19:17] johnnyman727 commented on #574
That has got to be the cutest socket.io example I've ever seen.

[2016-02-16 23:44] rwaldron commented on #574
hahaha

[2016-02-17 00:59] johnnyman727 commented on #554
Probably fixed with #571 but still needs tests.

[2016-02-17 01:00] johnnyman727 commented on #526
@rwaldron does your latest patch fix this?

[2016-02-17 02:01] johnnyman727 commented on #538
This is resolved for all future Tessels via a series of commits in `tessel/t2-test-rig-sw`.

[2016-02-17 02:01] #538 closed

[2016-02-17 03:49] johnnyman727 opened #575 "Wifi connect finishes with error"
When I ran `t2 wifi -n SSID -p PASS` on a freshly flashed Tessel (0.0.11), the connection attempt succeeded but the following error was thrown:
[code]

Steps to reproduce:
* [Download the `0.0.11` binary](https://github.com/tessel/openwrt-tessel/releases/download/0.0.11/openwrt.bin)
* scp it to the `/tmp` folder of your Tessel
* run `sysupgrade -n` with the path that image
* on your machine, attem

[2016-02-17 16:26] rwaldron opened #577 "Disambiguating "missing" binary from "doesn't need a binary for openwrt""
While building out the pre-compiled binary module replacement operations, I discovered three cases where the actual `<target_name>.node` binary may be missing:

1. If a node module that contains a compiled add-on (binary module) for both the local architecture and the mipsel architecture, it will install locally without issue and deploy to a Tessel without issue. This will **not** produce missing

[2016-02-17 18:18] johnnyman727 opened #579 "connection.exec used improperly"
There are two placed where `tessel.connection.exec` are being used improperly as a result of the switch from a Promise-based API to callbacks: in [name setting](https://github.com/tessel/t2-cli/blob/2fa6bb9ad074bdc199b0b723d8e25e0592c420ea/lib/tessel/name.js#L44-L50) and [provisioning](https://github.com/tessel/t2-cli/blob/2fa6bb9ad074bdc199b0b723d8e25e0592c420ea/lib/tessel/provision.js#L198). The

[2016-02-17 23:16] flaki commented on #276
I haven't checked, but seems the same issue.
The device wasn't de-provisioned, per se, though: it lost its name, like the above one, but apart from that everything else remained intact (including configuration, saved wifi, and the app pushed on it, which launched after restart without issue).

Also I can confirm that I didn't see the device didn't enter bootloader mode.

[2016-02-17 23:26] #579 closed

[2016-02-17 23:29] rwaldron commented on #526
Indeed it does

[2016-02-17 23:29] #526 closed

[2016-02-18 23:02] rwaldron opened #582 "If a binary module is "resolved", but also exists in a tesselignore rule, it should not be included"
Patch to follow.

[2016-02-19 15:00] rwaldron opened #583 "Syntax Error detection is wrong"
Patch to follow.

[2016-02-19 15:01] #577 closed

[2016-02-20 00:18] johnnyman727 commented on #573
So it always fails finding one of `npm`'s dependencies but it also fails with a `usb` error:
[code]

I'm not sure if one is causing the other. Also, #585 is not able to pass at all even after about a dozen restarts...

[2016-02-20 01:03] #564 closed

[2016-02-20 01:03] #583 closed

[2016-02-20 01:07] #582 closed

[2016-02-20 01:36] johnnyman727 opened #587 "FRE Tweet example doesn't work"
When I walk through the [First Run Experience's Tweet example](http://tessel.github.io/t2-start/tweet.html), my Tessel fails to deploy the code. It gets stuck with:
[code]
It does not hang if I run it with the `--full` flag.

Workaround is `t2 run tweet.js --full`.

[2016-02-20 01:46] johnnyman727 commented on #587
The error is being thrown [here](https://github.com/tessel/t2-cli/blob/e016516aed2ea76ed50605a79d4b75fd61ffc68f/lib/tessel/deploy.js#L797) but it's being swallowed for some reason.

When I print out the stack trace for the error, it looks like:
[code]

So my guess is that `uglify` has some bug inside it. @rwaldron what do you think?

[2016-02-20 16:18] rwaldron commented on #480
Resolved https://github.com/tessel/t2-cli/commit/c7e7c2e0dce8c50ec0f40ff325611862ec419f40

[2016-02-20 16:18] #480 closed

[2016-02-20 16:19] rwaldron commented on #440
Resolved https://github.com/tessel/t2-cli/commit/c7e7c2e0dce8c50ec0f40ff325611862ec419f40

[2016-02-20 16:19] #440 closed

[2016-02-20 16:24] rwaldron commented on #417
I'm going to close this for now, we can reopen/revisit if the issue appears again.

[2016-02-20 16:24] #417 closed

[2016-02-20 16:25] rwaldron commented on #470
Consensus is 4.2.1—thanks everyone!

[2016-02-20 16:25] #470 closed

[2016-02-20 16:26] rwaldron commented on #491
Resolved https://github.com/tessel/t2-cli/commit/6131f62b54321ce046e67eb8242238467f2d17c8

[2016-02-20 16:26] #491 closed

[2016-02-20 16:29] rwaldron commented on #587
I have an idea... What if we just forward JS source "as-is" if the compression fails? That would also address our woes w/r to lack of ES6 support in minified. I'll get a patch written asap

[2016-02-21 17:50] #587 closed

[2016-02-21 18:31] LinusU opened #592 "Possible problems with the tests"
I've been reading thru the testing code and found quite a few things that we should probably look at.

1) The use of `test.fail`

`test.fail` isn't documented at all in `nodeunit`, rather, it's an internal method with the signature of `function fail(actual, expected, message, operator, stackStartFunction)`. However I've seen a number of places where it's being used like this: `test.fail('Something

[2016-02-21 19:56] LinusU commented on #592
I would like to propose that we investigate using [ava](https://github.com/sindresorhus/ava) which is a modern test runner for node. One really cool thing is that it would allow us to use `async`/`await` in our tests which I think would really clean up the code base. It would also solve all the above problems for us.

[2016-02-21 20:48] HipsterBrown commented on #536
Working on this today.

[2016-02-21 20:53] HipsterBrown commented on #575
Will look into this today as well.

[2016-02-21 22:00] rwaldron commented on #592
I fully support fixing the actual issues you've observed, but I'm opposed to switching the test runner "just because".

If you add the `-v` (verbose) flag, you'll see what test failed.

These features aren't standard yet and are more than a year away from being so. Additionally, V8 hasn't made much effort to implement: https://bugs.chromium.org/p/v8/issues/detail?id=4483 using a transpilation step

[2016-02-22 07:01] LinusU commented on #592
I don't think that it is "just because", I stated a number of problems with the current one. But I agree that it's not something one would do lightly, which is why I just said that we investigate it.

I haven't even figured out how to run only the tests since I get this error message :)

[code]

Running `node_modules/grunt-contrib-nodeunit/node_modules/.bin/nodeunit` manually just spews out a ton

[2016-02-22 23:55] johnnyman727 commented on #592
@LinusU thanks for digging up these issues. The `test.fail`s are mostly an artifact of me lazily trying to make a test fail (I didn't realize it was an actual method). You're absolutely right that we should be using the method in the proper way or, better yet, using documented functions,

I believe you can run `nodeunit` in `verbose` mode with `grunt nodeunit -v`. If you want to run a single file,

[2016-02-24 03:14] Frijol opened #602 "False report of Wifi connection success"
I ran `t2 wifi` with an SSID but forgot to give it the password. It ran and reported success, even though a password is required for my wifi and the T2 was definitely not online:

[code]

[2016-02-24 15:19] HipsterBrown commented on #602
That is odds. Will check on this tonight.

[2016-02-25 05:03] HipsterBrown commented on #575
Have not been able to re-create this issue. Is it still happening?

[2016-02-25 05:03] Frijol commented on #602
this was on a network that this Tessel had connected to before, so perhaps the real bug was that the amber light didn't turn on.

[2016-02-25 05:25] Frijol commented on #602
just tried again, successfully reproduced:

* connect to a network
* now connect to that same network, but only specify the network name

We don't actually erase the old password, so this leaves us with correct credentials in the config file (I checked).

That means we probably are actually online - so the Wifi connection success reported is not a false positive.

But the Tessel doesn't act like a

[2016-02-25 05:26] Frijol commented on #602
more accurate issue titling :8ball:

[2016-02-25 07:17] johnnyman727 commented on #575
I haven't been able to repro it either. I'm fine closing this for now.

[2016-02-25 07:17] #575 closed

[2016-02-25 17:41] johnnyman727 opened #604 "Make a command for fetching the current version of the CLI"
This is useful for debugging purposes.

The likely implementation will take the current `t2-cli` commit sha and either compare it to Github tags (where we save each version) or we'll save a copy of each version on our AWS server like we did with Tessel 1.

[2016-02-26 07:54] johnnyman727 opened #606 "Wifi info timeout can be too short"
I ran into an issue with the test rig where the time between when we commit wireless credentials and when we check the result of the connection attempt is too short such that the process that prints connection info completes before the connection is taken up and it considers the connection a failure even though it succeeds a few seconds later.

Specifically, this code is [here](https://github.com/

[2016-02-26 07:58] johnnyman727 commented on #606
For references, I ended up using an 8 second timeout in the test rig just to be safe. I had failures even at 4 seconds.

[2016-02-26 20:17] rwaldron opened #607 "[dep] Investigate using npmlog instead of rolling own"
Just an exercise to see what I can learn, maybe it's good for something, maybe not. https://github.com/npm/npmlog

[2016-02-26 20:23] johnnyman727 commented on #607
:+1:

[2016-02-26 20:24] johnnyman727 opened #608 "`t2 update` with name flag will cause update to fail"
Reported on the forums:
[code]

This doesn't seem to happen when the name flag is not included.

[2016-02-27 00:18] johnnyman727 opened #609 "Issue deploying serialport library"
To Reproduce:
[code]
Output:
[code]
It looks like the binary is actually living at "~/.tessel/binaries/serialport-2.0.6-Release/**node-v46-openwrt-mipsel**/serialport.node".

[2016-02-27 00:22] johnnyman727 commented on #608
The issue may lie with the `--version` option as well

[2016-02-27 00:33] johnnyman727 commented on #608
So there are actually two issues here. In the submitted example, you can see that the `--version` flag was only passed in with one `-` (as `-version`) so it wasn't parsed properly. `-i` is the option for provided a SSH keyPath but because the command isn't formatted properly with a space after the `i`, it just treats `key` as a flag which is true. I'm not sure there is any way to get around this.

[2016-02-27 21:02] geek commented on #609
@johnnyman727 thanks for raising this... once you get past this error you will get another one with serialport trying to use a linux-mipsel binary.  I was able to hack around the issue, but it would be great to resolve it officially.  I am not sure on the best solution though.

[2016-03-02 15:39] #536 closed

[2016-03-02 18:39] johnnyman727 opened #611 "t2 wifi fails if not connected to wifi"
I ran `t2 wifi` just to verify that my Tessel was not connected to wifi and I got this error:

[code]

To reproduce, just disconnect your Tessel from wifi (`t2 wifi --off`) and then run `t2 wifi`.

[2016-03-02 18:43] johnnyman727 commented on #611
Clarification: it actually throws that error for any `wifi` command. For example, if I run `t2 wifi --off` and then `t2 wifi -n SSID -p PASS`, it will throw that same error and then successfully connect to the network.

[2016-03-02 18:44] HipsterBrown commented on #611
Maybe @rwaldron's latest PR, #610, will help with this. Will try it out during my smoke test tonight.

[2016-03-02 18:47] johnnyman727 commented on #611
@HipsterBrown I was able to repro on `master` and Rick's branch for #610 (encountered when I was smoke testing) so I think it's unrelated.

[2016-03-02 18:49] HipsterBrown commented on #611
@johnnyman727 OK. Will investigate as a separate issue then.

[2016-03-03 06:27] HipsterBrown commented on #611
What is the expected output of `t2 wifi` after `t2 wifi --off`?

I've fixed the issue where enabling a wifi connection, either through `t2 wifi --on` or `t2 wifi -n SSID -p PASS`, would return `ERR! Error: Command failed: Not found` even though the network would successfully connect. I'm still running into that same error with `t2 wifi` but I think it's the expected output since the wifi-iface is

[2016-03-03 16:54] johnnyman727 commented on #611
I think at some point, we'll want to intercept the `Command failed: Not found` error and turn it into something that's more understandable for the consumer. Something like "Tessel is not connected to a network." would be a more reasonable message to spew out.

[2016-03-06 19:17] #611 closed

[2016-03-06 22:04] johnnyman727 opened #617 "twitter example fails to run with slim build"
Test Case:
[code]

Expected Results (which you can see by running `node index.js` or `t2 run index.js --full`):
[code]

Actual Results:
[code]

[2016-03-06 22:14] rwaldron commented on #617
I'll take a look at this immediately.

[2016-03-07 01:01] tikurahul opened #619 "tessel wifi --list fails and tessel wifi -n <name> -p <password> does not work."
I am trying to use my new Tessel 2, and for whatever reason I cannot get the Tessel 2 to connect to my Wireless network.

If i use the command `tessel wifi --list` I just get the following exception.

[code]

I modified `wifi.js` with the following patch:

[code]

With my changes, when step through the code using `node-inspector` I see the following:

[code]

Any ideas on how to fix this ?

[2016-03-07 03:06] johnnyman727 commented on #619
Hi @tikurahul I think I've seen this issue on an older version of firmware. Can you run `t2 version` and report what it outputs?

[2016-03-07 03:12] tikurahul commented on #619
@johnnyman727, the version is `0.0.10`.

[code]

[2016-03-07 03:19] johnnyman727 commented on #619
@tikurahul I believe the most recent version is `0.0.11` so you should run `t2 update` so make sure you have the most up-to-date code.

I'm not sure this will fix the underlying issue because updates don't usually overwrite config files unless explicitly stated to do so. If it doesn't work, one temporary workaround would be to [edit this line](https://github.com/tessel/t2-cli/blob/30a8fedd4fd6a2ac

[2016-03-07 03:21] johnnyman727 commented on #617
I should have tested this more thoroughly after your recent PR @rwaldron but it looks like Slim builds are still failing for some reason. When I run [the twitter example](http://tessel.github.io/t2-start/tweet.html) I get the following error (and it doesn't occur if I run with `--full`):
[code]

[2016-03-07 04:21] johnnyman727 opened #620 "[wifi] --list fails if not connected to wifi"
If a Tessel is not actively connected to a network, it will fail to list available networks. This is really a problem because many people like to ensure their Tessel can detect their network before attempting to connect. Originally reported in https://github.com/tessel/t2-cli/issues/619.

Steps to reproduce:
[code]

Expected Output:
[code]

Actual Output:
[code]

[2016-03-07 05:04] #619 closed

[2016-03-07 05:05] tikurahul commented on #619
`t2 update` would not have worked. @johnnyman727 helped me install new firmware and connect to Wi-Fi. After that everything just worked.

[2016-03-07 05:23] johnnyman727 commented on #619
It's also worth noting that some of the issues arose because of confusion generated around where `nvm` installs packages globally. I created #620 which is an actual issue that we need to fix.

[2016-03-07 21:40] rwaldron commented on #617
This is pretty frustrating. We need to be able to compress code, but I don't know how we're going to avoid completely valid source failing at runtime if the compression is over-eager. I will try peeling back compression options and see what I can learn.

[2016-03-07 21:50] rwaldron commented on #617
It's this:

[code]

When I comment it out, everything works...

[code]

...But we lose a lot of compression.

I don't really want to ditch this, so I'd like to think about it a bit before jumping to write a fix. I think strongest compression should be the default, with options to relax it. Not sure how to to do that, but I'll think on it and come back tomorrow.

[2016-03-07 21:59] johnnyman727 commented on #617
I'm of the opposite opinion simply because it doesn't matter how fast your code get deployed if it doesn't work on Tessel :/ I didn't previously realize that we could be potentially be creating runtime errors with our slimming (especially with popular libraries like `twitter).

[2016-03-08 15:42] rwaldron commented on #617
TBH, this is bad library code at fault, not our operation. I'm going to try making this seamless.

[2016-03-09 22:30] rwaldron commented on #617
Looks like I merely needed to set these `true`:

[code]

[2016-03-09 22:31] rwaldron commented on #617
Or at very least: `keep_fnames: true`

[2016-03-09 22:36] rwaldron commented on #617
That's not really the value here, code deploys are always pretty fast. The real value is the unused disk on the board itself.

[2016-03-10 22:50] #617 closed

[2016-03-11 13:41] rwaldron commented on #609
Sorry I missed this until just now—I'll take a look at this today.

[2016-03-11 13:48] rwaldron commented on #609
I have a feeling this is going to lead to another mechanism in `deploy-lists` because there is no way to know how to change "node-v46-darwin-x64" to "node-v46-openwrt-mipsel" based on the information obtained during binary module discovery. I'm thinking I might have to provide some matching and translating mechanism for paths like this.

[2016-03-11 21:01] rwaldron commented on #609
Confirmed. This is a bug in t2-compiler (that I just fixed). I'm going to have @reconbot rebuild serialport and push it to the package server shortly.

[2016-03-11 22:55] rwaldron commented on #609
Thanks @reconbot!

[2016-03-12 10:58] johnnyman727 opened #624 "single file option for `run` doesn't work anymore"
I tried deploying just a single file (with the `-s` flag) and the CLI sent the entire bundle.

[2016-03-12 10:59] johnnyman727 opened #625 "Move grunt tools to devDependencies?"
Grunt and related plugins increase the `t2-cli` size from 13Mb to 24Mb. Can we move them to the `devDependency` section of our `package.json`?

[2016-03-13 14:42] mulderp commented on #560
This is a nice list indeed! I like the `handy commands` or command cheatsheet.
Something similar would be interesting to have in the "Embedded Internet" chapter if the Embedded Node.js book, @flaki if interested I can pass you a link of the draft via Twitter DM and you could check whether/how your getting started things are relevant for the book.

[2016-03-13 21:45] rwaldron commented on #624
I'm afraid our existing tests might not have been sufficient for this path :angry:

I'll get this resolved asap.

[2016-03-13 21:57] rwaldron commented on #624
When I tested this just now, only the single file was sent.

[code]

Result:

[code]

Confirmed by ssh to board:

[code]

[2016-03-13 21:59] rwaldron commented on #624
I _did_ discover that -s isn't ignoring `.tesselinclude` matches.

[2016-03-13 22:04] rwaldron commented on #624
Also, binary modules are incorrectly included as well. Fix coming.

[2016-03-13 22:24] rwaldron commented on #625
They always have been. https://github.com/tessel/t2-cli/blob/master/package.json#L33-L43

[2016-03-13 22:24] #625 closed

[2016-03-13 22:26] rwaldron commented on #625
Not figuratively, literally: https://github.com/tessel/t2-cli/commit/d84cd349deae75ab16af975514890505ac409303

[2016-03-18 17:25] johnnyman727 commented on #625
My mistake!

[2016-03-18 18:09] #624 closed

[2016-03-24 15:42] dudleyjosh opened #627 "t2 erase output shows reference to 'tessel' instead of 't2'"
When you do `t2 erase` the output shows `WARN No files have been pushed. Run tessel push FILE to push to Flash.` where `Run tessel push FILE` should be `Run t2 push FILE`.

[2016-03-24 17:38] reconbot opened #628 "`t2 update` ignores the fact the t2 is on the lan"
I had to tell the t2 cli that to use the lan even thought it was telling me to use the lan.

[code]

[2016-03-27 09:09] johnnyman727 commented on #627
Thanks for finding this @dudleyjosh! Do you want to take the pleasure of making the change?

[2016-03-27 13:55] dudleyjosh commented on #627
Sure @johnnyman727... is it just line 28 of `lib/tessel/erase.js` that needs updated? You will have to walk me through the steps needed to actually submit the change.

[2016-03-29 08:08] johnnyman727 commented on #627
Yes, that's the only piece of code that needs to change. The Github part is a little more involved. Here is a full walkthrough:

1. Click the fork button on the top right of the repository and Github will make a copy of the repo that *you* own. You would not need to do this if you were one of the owners of the `tessel` organization. I can add you to the org but I figure it's better if you learn th

[2016-03-29 15:31] dudleyjosh commented on #627
I think I was able to do it correctly following your steps above... one small step at a time :)

[2016-03-29 17:57] johnnyman727 commented on #627
Thanks, I'll follow up on the PR!

[2016-03-29 19:14] #627 closed

[2016-04-01 15:00] rwaldron opened #631 "t2 run: repl/stdin to remote issues"
Easily reproduced with:

[code]

Actual:

[code]

Expected:

[code]

If you run with just node.js:

[code]

[2016-04-02 14:43] rwaldron opened #632 "t2 update: remote updatePath should not be created with path.join(...)"
This:

[code]

Is fine on *nix platforms, because the remote path will have the same structure, ie. forward slash delimiters. When updating from a windows machine, this will result in a windows normalized path (I will post an example directly from my windows machine as soon as I post this)

[2016-04-02 14:47] rwaldron commented on #632
[code]

[2016-04-02 15:28] #632 closed

[2016-04-02 15:34] rwaldron opened #634 "t2 update: discuss necessity of always doing openwrt and samd21 update"
It seems likely that the openwrt image will change far less frequently than the samd21 firmware. It would be ideal if we could only update the parts that need to be updated, instead of always pairing them

[2016-04-02 15:38] rwaldron commented on #634
This likely means that the JS in t2-firmware needs to have it's own install and update story (which is likely trivial)

[2016-04-02 17:23] rwaldron commented on #628
I hit this today as well

[2016-04-02 17:24] rwaldron commented on #609
This was addressed in https://github.com/tessel/t2-cli/commit/962c4ca447d26874068be27c02159970b156e855

[2016-04-02 17:24] #609 closed

[2016-04-02 17:25] rwaldron commented on #609
Here's the PR with smoke tests: https://github.com/tessel/t2-cli/pull/623

[2016-04-02 17:25] rwaldron commented on #606
Resolved https://github.com/tessel/t2-cli/pull/610

[2016-04-02 17:25] #606 closed

[2016-04-02 17:26] rwaldron commented on #592
A lot of action taken here, I'm going to close for now. If we need to audit again in the future (we should), then it will be appropriate to open a new issue

[2016-04-02 17:26] #592 closed

[2016-04-02 17:28] rwaldron commented on #490
There hasn't been any further activity here, so I'm going to close this for now. If we need to audit again in the future (we should), then it will be appropriate to open a new issue

[2016-04-02 17:28] #490 closed

[2016-04-02 17:29] rwaldron commented on #493
We should start talking about this now that boards are shipping

[2016-04-02 17:30] rwaldron commented on #557
@HipsterBrown assigning to you. Please investigate and report (either can repro, or cannot)

[2016-04-02 17:30] rwaldron commented on #523
@HipsterBrown please investigate

[2016-04-02 17:32] rwaldron commented on #263
There is now a progress bar

[2016-04-02 17:32] #263 closed

[2016-04-02 17:36] rwaldron commented on #414
Can someone retry and confirm this? Important to note that Node.js 4.x.x LTS is a _requirement_, not a suggestion.

[2016-04-02 17:37] rwaldron commented on #371
@dtex is this still problematic? By default, all build are `--slim` now

[2016-04-02 18:51] RX14 commented on #414
Still fails as root for me

[2016-04-02 19:00] johnnyman727 commented on #631
Wow, I didn't know the `repl` lib existed. That's cool!

The problem is that we aren't piping stdin of the host to the process. It can be fixed by adding the following line to where the JS file is executed (within the `run` and `push` functions):

[code]
(assuming `remoteProcess` is the name of the process variable returned from `exec`)

[2016-04-02 19:00] johnnyman727 commented on #634
I think this is a great idea. In addition, we'll probably want to start adding `minCLI` and `maxCLI` tags for firmware versions that are incompatible for different versions of the CLI.

[2016-04-02 19:04] johnnyman727 commented on #628
I haven't dug into this very much but if I were to hazard a guess, I would say this is caused by the `lanPrefer` option which is set to `true` within `controller.update`.

[2016-04-02 19:19] johnnyman727 commented on #493
:+1: Building this feature could be a fun first project for anyone that wants to start getting involved. I also welcome thoughts on the CLI API I wrote about above.

[2016-04-02 19:20] johnnyman727 commented on #557
From my experience, this has nothing to do with the access point tests. I believe I saw this issue intermittently before we even had the access point feature. It's pretty hard to reproduce (maybe 1 in 100 test runs will hit it).

[2016-04-02 19:21] johnnyman727 commented on #523
My two cents is that this is likely an issue with the router. @HipsterBrown is you get around to this, I'd be interested to hear your testing strategy.

[2016-04-02 19:22] johnnyman727 commented on #263
@rwaldron I think this is only half complete because there is no progress bar for the upload progress. I have a [WIP PR to do that](https://github.com/tessel/t2-cli/pull/605) but it only works over USB for the issue I described in that PR.

[2016-04-02 19:24] johnnyman727 commented on #414
@RX14 which version of Node are you running?

@kevinmehall any guesses here?

[2016-04-02 20:08] kevinmehall commented on #414
This is https://github.com/nodejs/node-gyp/issues/454

My recommendation is to never run npm as root/sudo, which npm's defaults on Linux make unnecessarily difficult. Follow [these instructions](https://github.com/sindresorhus/guides/blob/master/npm-global-without-sudo.md) fix `npm -g` to install under your home directory.

[2016-04-03 02:22] rwaldron commented on #414
Closing per @kevinmehall's cited issue

[2016-04-03 02:22] #414 closed

[2016-04-03 02:24] rwaldron commented on #631
I'll play around with it, or @HipsterBrown can dig in

[2016-04-03 02:28] rwaldron commented on #263
Dread. I've been avoiding that PR because I don't like the approach at all, I figured that would all shake out in time though ;)

[2016-04-03 17:46] HipsterBrown commented on #523
I'll look into this again today.

[2016-04-04 06:53] johnnyman727 commented on #263
I agree and I welcome any new suggestions on how to build it! The one I took seems to be impossible without artificially limited the throughput.

[2016-04-05 14:20] d1runberg opened #635 "Cannot "push" code to board"
I am able to run code using 't2 run app.js', but when I try to push code ('t2 push app.js') I get an error and the code is never pushed. I have tried using 'erase', but I get a message that nothing is on the board to erase. Screen shot of error attached.
![pasted image at 2016_04_04 04_21 pm](https://cloud.githubusercontent.com/assets/9256788/14285038/e2203816-fafe-11e5-8f55-e820dc5196f3.png)

[2016-04-05 15:59] d1runberg commented on #635
I force updated firmware to 0.0.11 and now it works

[2016-04-06 12:28] leitasat opened #636 "Can't install on OS X"
Hello!
I'm getting the following:
[code]

[code]

inb4 `npm cache clean`,`sudo npm install t2-cli -g`

Thank you!

[2016-04-06 15:12] leitasat commented on #636
It's gone. Not sure what's going on.

[2016-04-06 15:12] #636 closed

[2016-04-06 19:21] johnnyman727 commented on #636
@leitasat, I believe this is actually an `npm` issue. I've had it before and it's pretty infuriating. Couldn't re-find a relevant issue on `npm`'s Github repo to link to but I'm 99% sure that was the problem. I recommend updating `npm` if you can.

[2016-04-06 20:16] johnnyman727 commented on #635
Thanks for reporting @d1runberg!

[2016-04-06 20:16] #635 closed

[2016-04-06 23:19] Student007 commented on #493
short read:
- make a pulldown list of `/dev/tty.usb*` (similar to `t2 list`)
- suggest `brew install dterm` (if brew is installed - or add alternative ways)
- hold unbrick images with the CLI (at `~/.tessel/unbrick/`)
- trigger update afterwards
- interactive solution: push and hold the button while plugging usb for entering dfu mode (should work with the menu lib we use)

long read:

I did a succ

[2016-04-06 23:20] rwaldron commented on #636
Also, that was version >5 of node, not sure all of our things are updated

[2016-04-07 02:05] kevinmehall commented on #493
What does dterm/the serial console have to do with unbricking? `flash.py` accesses the USB device the same way as the CLI does, and if it were rewritten with node-usb, it could use the existing device detection logic in the CLI. The equivalent of dfu-util is already in the normal CLI process for a samd21 update.

I wouldn't worry about automating unbricking the samd21 bootloader using openocd. If

[2016-04-07 02:08] kevinmehall commented on #493
[Jon's instructions](https://gist.github.com/johnnyman727/23de244b454fd382e57d) are for updating a device from a samd21 bootloader, firmware, and openwrt that were too old to be compatible with recent tools, and don't have much to do with recovering a device from a state that could happen in a user's hands.

[2016-04-07 07:53] jsimmonds2 commented on #636
F.w.i.w. the Travis-ci build error-stopped on the same issue 2 days ago.  Different npm and node versions.

[2016-04-07 08:17] johnnyman727 commented on #493
+1 to Kevin's comments.

We should either import `flash.py` into the CLI or port it into JS. It will work as is without a requirement of `dterm` or `dfu-util`. It's a different process.

[2016-04-07 08:19] Student007 commented on #493
@kevinmehall thanks for clarification. I think to get the point and task to to for this issue. Could you put together basically ideas how a user would be able to brick one or all three parts? And additional which way is the right to fix it. So I will get the point too :smile:

[2016-04-07 08:22] Student007 commented on #493
In my case I changed some passwords on the Tessel 2 which seams to hangup the t2-cli. Only the dfu-util solved this.

[2016-04-07 08:23] Student007 commented on #493
I know there was a root pass somewhere but I couldn't find it one more in the cli code.

[2016-04-07 08:27] johnnyman727 commented on #493
@Student007 you could corrupt either the samd21 firmware or the mediatek firmware by sending improperly generated binaries or by interrupting the standard update process while the memory is being overwritten. We don't expose any standard tools for updating the bootloader but you could mess it up in by using a standard SWD programmer to erase the memory. If you do that, you're probably screwed.

I'

[2016-04-07 08:38] Student007 commented on #493
It [hangs](https://github.com/tessel/t2-cli/blob/master/lib/discover.js#L105) forever by waiting for open Tessel connections while provisioning. But this also happened while doing `t2 list` when the bricked Tessel was plugged.

INFO Looking for your Tessel...
  discovery Will scan for USB devices +0ms
  discovery:usb Device found. +3ms
  discovery Connection opened: +8ms undefined
  discovery Fetc

[2016-04-07 12:19] rwaldron commented on #636
Thanks for the additional details, always appreciated.

[2016-04-07 16:14] johnnyman727 commented on #493
@Student007 I think we're getting off topic here so I'll continue the discussion with you on Slack. I know what you ran into.

[2016-04-07 16:15] #573 closed

[2016-04-07 21:39] rwaldron opened #638 "Implement complete tesselinclude detect spec"
1. Update `t2 init` to auto-create a `.tesselinclude` file, that contains the following:
[code]
1. Update `t2 run` and `t2 push` operations:
  1. Read the **entry point file's directory** (which is `globRoot`, _not_ `'./'` \*) as `list`
    1. If `list` does not include `.tesselinclude`, do the following:
      1. If `list.length` is 3 and `list` includes `node_modules`, `list` includes `[opts.res

[2016-04-08 13:08] josser opened #641 "t2 update fails with javascript error"
Here is log:

[code]

Tried both on 4 and 5 node.

[2016-04-08 13:15] johnnyman727 commented on #641
looking into it now...

[2016-04-08 13:22] johnnyman727 commented on #641
I think I've fixed it but testing now...

[2016-04-08 13:23] Student007 opened #642 "[deploy] --slim 4 generator function fails"
Analyzing things by using PR https://github.com/tessel/t2-cli/pull/640 leads to the fact we cannot work with generator function like KOA js is basing on:

[code]
causes
[code]
This is related to @rwaldron issue https://github.com/mishoo/UglifyJS2/issues/968 at UglifyJS2

I would suggest to identify the major reasons `--slim` fails and include a link to more information. In parallel it is a good id

[2016-04-08 13:24] johnnyman727 commented on #641
Okay @josser can you give it another try?

[2016-04-08 13:24] josser commented on #641
Ok, I've found the reason

it trying to download file from
https://builds.tessel.io/t2/firmware/f295bc69dc0aae06fdc14ee4027d2889c30fbbac.tar.gz

But file is missing or access is denied so cloud-front return this:

[code]

and there is no content-length in response headers.
And so, it fails to calculate total length of progress bar because it calculated in that way:

[code]

and len became NaN.

So

[2016-04-08 13:25] johnnyman727 commented on #641
@josser it's working for me now, can you give it another try?

[2016-04-08 13:26] josser commented on #641
@johnnyman727 downloading! thank you :dancer:

[2016-04-08 13:26] johnnyman727 commented on #641
:+1: Thanks for the help!

[2016-04-08 13:26] #641 closed

[2016-04-08 16:24] rwaldron commented on #641
@johnnyman727 what was the issue?

[2016-04-08 16:25] johnnyman727 commented on #641
I had the wrong filename in the tarball that I manually uploaded 😛

I should really get http://github.com/tessel/t2-release working.

[2016-04-08 19:41] #638 closed

[2016-04-08 19:55] rwaldron opened #644 "New warning about tesselinclude is annoying"
I'm over here testing different versions of a program, generating a bunch of files in a directory and every time I run code, this warning comes up. I don't know what we should do.

[2016-04-08 20:37] Student007 commented on #644
@rwaldron  we could add a `--silence` flag. Or as I suggested [here](https://github.com/tessel/t2-cli/pull/640#issuecomment-207446672) we could change things into a debugging mode but blame in a single line with the hint to use debugging mode for more information.

[code]
The debug mode would do what this PR is doing.
Maybe this feels much cleaner ?

[2016-04-08 20:51] Student007 commented on #644
@rwaldron sorry - mixed up things.

[2016-04-08 21:08] Student007 commented on #644
The text should be part of `--help` and the the WARN should be like this

instead of

          .tesselinclude
    auth.js
    login.html
    public

        If you need to deploy them to your Tessel 2, you must have a .tesselinclude
        file that lists the file and directory assets for your application. This can be
        created manually or by typing 't2 init'.

        For more information

[2016-04-08 23:26] ptone opened #645 "unable to use Google Cloud gcloud library"
This is using https://github.com/GoogleCloudPlatform/gcloud-node

`googcloud$ t2 run index.js
INFO Looking for your Tessel...
INFO Connected to ptone-t.
INFO Building project.
WARN Pre-compiled module is missing: grpc.
This might be caused by any of the following:

1. The binary is platform specific and cannot be compiled for OpenWRT.
2. A pre-compiled binary has not yet been generated for this mo

[2016-04-09 01:13] rwaldron commented on #645
Thanks! We'll get a precompiled module onto the server as soon as possible (I'm mobile at the moment, otherwise I'd do it immediately).

Cc @reconbot

[2016-04-09 01:38] rwaldron commented on #645
Ok, I came back to give this a try...

- [sse4_crc32](https://github.com/Voxer/sse4_crc32) this isn't compiling for mipsel, so I'm not sure what to do about that.
server/issues/1050
- [grpc](https://github.com/grpc/grpc)
  - grpc-0.13.1
  - grpc-0.13.2-pre1

[2016-04-09 10:26] asez73 commented on #447
Hello,

I face this situation after having upgraded quite a lot of things on Ubuntu 14.04 LTS:

`12568 (2016-04-09 12:20:46)  alain@alain-Vostro-3500 ~ $sudo npm install -g t2-cli
/home/alain/.npm-global/bin/t2 -> /home/alain/.npm-global/lib/node_modules/t2-cli/bin/tessel-2.js

gyp WARN EACCES user "root" does not have permission to access the dev dir "/home/alain/.node-gyp/4.4.2"
gyp WARN EACCES

[2016-04-09 12:02] hoegertn commented on #302
Anything new on this issue? I have the same problem and `sudo killall -HUP mDNSResponder` does not help

[2016-04-09 12:21] dzeitman opened #647 "T2 List command fails with controller.js error"
t2 list
/usr/local/lib/node_modules/t2-cli/lib/controller.js:41
    .then(() => controller.keyHelper(opts))

SyntaxError: Unexpected token )
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)
    at Module.load (module.js:355:32)
    at Function.Module._load (module.js:310:12)
    at Module.require (module

[2016-04-09 12:22] dzeitman commented on #647
Here's the failing method - please fix.

// Calls any helpers for the get and list codepaths
controller.defaultHelpers = function(opts, next) {
  // First disable output if necessary
  return controller.outputHelper(opts)
    // Then make sure our SSH Key path is updated
    .then(() => controller.keyHelper(opts))
    // before continuing to the next function
    .then(() => next(opts));
};

[2016-04-09 13:46] LinusU commented on #647
Which version of Node.js are you running? Minimum required is 4.0.0

[2016-04-09 14:03] dzeitman commented on #647
node -v
v0.12.7

[2016-04-09 14:13] #647 closed

[2016-04-09 18:35] anandsuresh commented on #645
@rwaldron Can you please post some logs for the sse4_crc32 compile failure?

[2016-04-09 20:18] rwaldron commented on #645
@anandsuresh thanks for answering my call for help! Here's what I've got:

[code]

The cross compilation tool is here: https://github.com/tessel/t2-compiler

[2016-04-09 22:22] rwaldron commented on #447
All of the errors are permissions related problems, which aren't issues that t2-cli can fix :(

Can you double check all of those permissions—then make sure you're running commands accordingly

[2016-04-10 03:28] boneskull opened #649 "unit tests pass when they fail"
to reproduce this, I added the following at line 1650 of `test/unit/deploy.js`:

[code]

I saw the test fail (briefly), but then it reports "OK" and passes anyway.

[2016-04-10 03:31] boneskull commented on #649
I'd send a PR to fix this, but I'm not familiar with `nodeunit`.  Want help switching to Mocha? :stuck_out_tongue_closed_eyes:

[2016-04-10 03:32] boneskull commented on #644
I was going to address this, but due to #649 I couldn't make heads or tails of what I was doing.

[2016-04-10 04:42] corymickelson opened #650 "[list] lan connection not found"
I've run t2 wifi {credentials} and got a response of WIFI enabled. WIFI {connection info}, but when I run t2 update it can not find the lan connection.

[2016-04-10 05:09] ahetawal opened #651 "Tessel2 wifi issues"
Hello, just trying wifi setup on my Tessel2 using this : t2 wifi -n MySSID -p 1234567890
(my password is all numbers), But always getting this error:
INFO Looking for your Tessel...
INFO Connected to NEO.
WARN Unable to verify connection. Please ensure you have entered the correct network credentials.

How do i fix this ?

[2016-04-10 05:53] ahetawal commented on #651
Seems to get fixed with updating my security mode setting on router to WPA2PSK-TKIPAES

[2016-04-10 05:53] #651 closed

[2016-04-10 05:54] asez73 commented on #447
Hello, thanks for reading me!
So I did something like this, and it shown even more errors...
The question is: Why should I become and npm/nodejs install guru?

12617 (2016-04-10 05:53:06)  alain@alain-Vostro-3500 ~ $sudo bash
[sudo] password for alain:
12616 (2016-04-10 07:49:46)  root@alain-Vostro-3500 ~ $npm -v
3.8.6
12617 (2016-04-10 07:49:52)  root@alain-Vostro-3500 ~ $node -v
v4.4.2
12618 (20

[2016-04-10 07:33] asez73 commented on #447
And now, as root user, after having:
a - wiped out nodejs, node-legacy, npm
b - reinstall nodejs from nodejs.org download
c - relinked npm and nodejs to the resulting binary files
d - tried this and failed:
12733 (2016-04-10 09:28:32)  root@alain-Vostro-3500 ~/Téléchargements $npm install t2-cli -g
npm WARN engine mdns-js@0.4.0: wanted: {"node":"^0.10.3 || ^0.12.0"} (current: {"node":"4.4.2","npm"

[2016-04-10 07:50] asez73 commented on #573
Hello,
I can confirm this also when installing on ubuntu 14.04 with updated nodejs 4.4.2 and npm 2.15.0.
I more or less solved it by "sudo npm install usb -g" but failed on

*** Error in `node': free(): invalid pointer: 0x000000000326e1ef ***
Aborted (core dumped)

[2016-04-10 13:53] rwaldron commented on #649
I'm confused, this line has a silly test of the contents of the annoying tesselinclude message—is that definitely the line?

Nope ;)

[2016-04-10 13:54] rwaldron commented on #649
Also, good to see you here ❤️

[2016-04-10 14:31] rwaldron commented on #642
The error your seeing wouldn't be caused by a syntax parsing failure, as TypeError is a runtime error—which means parsing was successful enough to run the program.

[2016-04-10 16:06] kevinmehall commented on #447
`user "root" does not have permission to access the dev dir "/home/alain/.node-gyp/4.4.2` permissions issue is https://github.com/tessel/t2-cli/issues/414

[2016-04-10 16:33] RameshRM commented on #447
Similar problems,

1. `nodejs 4.2`

Errors :
[code]

[2016-04-10 17:28] asez73 commented on #447
Hi @kevinmehall , thank you.
I no more have a permission problem but:
 "*** Error in `node': free(): invalid pointer: 0x000000000326e1ef ***
Aborted (core dumped)".
Although I am doing everything, installs of npm and nodejs included as root.
Actually, nodejs 4.4.2 and npm seem to be OK with my config. However I doubt about this.
I did manually installed :

- nodejs and npm 4.4.2 from nodejs.org wi

[2016-04-10 19:11] sanderblue opened #652 "WARN Pre-compiled module is missing: bluetooth-hci-socket"
Using recommended [USB BLE device](http://www.amazon.com/Plugable-Bluetooth-Adapter-Raspberry-Compatible/dp/B009ZIILLI?ie=UTF8&psc=1&redirect=true&ref_=od_aui_detailpages00)

Output follows with:
[code]

Error:
[code]

[2016-04-10 19:13] sanderblue opened #653 "[binary-dep] WARN Pre-compiled module is missing: usb"
Using recommended [USB BLE device](http://www.amazon.com/Plugable-Bluetooth-Adapter-Raspberry-Compatible/dp/B009ZIILLI?ie=UTF8&psc=1&redirect=true&ref_=od_aui_detailpages00)

Output follows with:
[code]

Error:
[code]

[2016-04-10 21:00] majgis opened #654 "t2 update failed"
Yesterday, I updated to the latest version.  It erased the name I had assigned to my tessel.  In order to reproduce that issue so I could create an issue here, I attempted to rollback to version 0.0.11.  After a long time, my tessel was stuck in an infinite loop of rebooting.  I killed the process, disconnected the power and it is still stuck rebooting.

Is there a way to do a factory reset?  I di

[2016-04-10 21:14] majgis commented on #654
https://forums.tessel.io/t/t2-update-stuck-on-openwrt-update/2235/5

My bad for not waiting.  Just curious if I can correct my mistake or I'm out of luck?

[2016-04-10 21:25] rwaldron commented on #652
Thanks for filing this report. I've precompiled and pushed `bluetooth-hci-socket@0.4.3` to the packages server just now.

Is there a specific reason that you're not using the `noble` module that's shown here: http://tessel.github.io/t2-start/modules/ble.html?

[2016-04-10 21:28] rwaldron commented on #649
Oh wow, I have no idea how to explain how on earth I made that weird mistake.

[2016-04-10 21:35] rwaldron commented on #649
When I put that code at line 1650, the tests fail:

[code]

I'm going to close this to address the larger issue with this warning (which is complete removal)

[2016-04-10 21:35] #649 closed

[2016-04-10 21:50] sanderblue commented on #652
@rwaldron, thanks for the quick reply. I went through that quick tutorial step for step and that was the resulting output when running `t2 run ble.js`.

After accessing the Tessel's main OS via  `t2 root` and checking for the proper OpenWRT package dependencies for [noble](https://github.com/sandeepmistry/noble), it seems that `bluez` was the only one that showed up. No results showed up when atte

[2016-04-10 21:52] majgis commented on #654
I'm working through these instructions:
https://github.com/tessel/t2-firmware

We'll say this was my fault for not waiting, and it looks like there is a PR to reduce the wait.

[2016-04-10 21:52] #654 closed

[2016-04-10 21:55] sanderblue commented on #652
@rwaldron, it looks like your fix worked. Was able to successful run `t2 run ble.js`. Thanks!

[code]

**Note:** Still seeing output regarding `usb` dependency when running the script, but the code is running.
[code]

[2016-04-10 22:13] #652 closed

[2016-04-10 22:42] rwaldron commented on #652
Ok, I will see about getting that pre-compiled and pushed out as well

[2016-04-10 22:47] rwaldron commented on #652
Actually, I'm not seeing any reference there to the usb module? I have to take a 4 hour drive shortly, so I won't be able to help any more until tomorrow

[2016-04-10 23:20] rwaldron opened #656 "Rename files to use either dash or underscore, but not both"
This is gross, let's fix it.

[2016-04-10 23:21] rwaldron commented on #656
Oh, I vote for dashes.

[2016-04-11 00:03] lmarkus commented on #628
`t2 update --lanPrefer` worked for me after hitting this issue.

[2016-04-11 00:49] sanderblue commented on #652
@rwaldron no worries man. I'm not exactly sure why the `usb` issue is showing up. I have a funny feeling it's because I'm using the USB port + USB pluggable BLE device.

[2016-04-11 01:07] boneskull commented on #649
Yes.  I modified the behavior and make some assertions, but regardless of whatever assertions I was making, the tests would pass anyway.  Something fishy going on maybe.  I used npm@3 / Node.js @5.x

[2016-04-11 06:02] LinusU commented on #656
My vote goes to dashes as well :+1:

[2016-04-11 12:34] johnnyman727 opened #657 "Need a way to identify if firmware was not updated properly"
With our current update and versioning architecture, it's possible for the OpenWRT and firmware image to get out of sync. This can happen if an update hangs between completing OpenWRT and writing the firmware image and the user aborts. Because `t2 version` just reads a git commit sha in a file on the OpenWRT file system to determine the image version, the firmware version can remain out of date. W

[2016-04-11 12:58] johnnyman727 opened #658 "[list] Inaccurate "unauthorized Tessel" reports"
Because the CLI [treats any SSH error](https://github.com/tessel/t2-cli/blob/fc24618b98fbd583ad1e0fd63742b059e11d1580/lib/lan_connection.js#L107-L112) as an indicator that the device is not authenticated, we're getting lots of false reports. It could be possible, for example, that the connection just timed out. We should be inspecting the error to determine if it's actually an auth issue.

[2016-04-11 13:50] johnnyman727 commented on #653
Strange that I haven't seen this before, but sure enough, it's as a result of https://github.com/sandeepmistry/node-bluetooth-hci-socket.

It's actually not needed because it's an optional dependency for windows/linux but super annoying.

Anyone that sees this should just ignore it for now.

[2016-04-11 13:56] johnnyman727 commented on #656
No preference

[2016-04-11 15:32] rwaldron commented on #656
I'll pretend that your preference is for dashes ;)

[2016-04-11 16:32] albatrocity opened #659 "Pre-compiled module is missing: midi and `Could not locate the bindings file`"
I'm trying to use the [node-midi](https://github.com/justinlatimer/node-midi) package and I'm getting the `Pre-compiled module is missing: midi.` warning when running `t2 run index.js`. That doesn't stop the build, but it eventually fails with
[code]

There _is_ a `midi.node` file at `node_modules/midi/build/Release/midi.node`. I've also tried running it with the `--full` flag, which fails with

[

[2016-04-11 16:34] #644 closed

[2016-04-11 16:34] johnnyman727 commented on #659
Thanks! We need to compile `midi` for T2's architecture (MIPS). @reconbot this is for you.

[2016-04-11 16:36] albatrocity commented on #659
Great, thanks @johnnyman727! Excited to get hacking on my new Tessel :smile:

[2016-04-11 18:19] sanderblue commented on #653
@johnnyman727 Yup, thanks for the reply. I had noticed this was negligible, but like you said, still a bit annoying. I was seeing that warning simultaneously with a `bluetooth-hci-socket` and just posted them as separate issues.

Here's the [bluetooth-hci-socket thread](https://github.com/tessel/t2-cli/issues/652). @rwaldron quickly took care of the `bluetooth-hci-socket` issue so I closed that on

[2016-04-11 20:00] finnp commented on #650
This is happening for me as well on OS X. I suspect it being my wifi. `device.local` is available though and all the other network stuff works. Just not `t2 update` and `t2 root`.

Of course I was running `t2 provision` before.

[2016-04-12 00:20] rwaldron commented on #628
Just a heads up, we'll be rolling out an update that drastically improves `t2 update`, likely tomorrow

[2016-04-12 00:23] rwaldron commented on #659
Compiled and deployed:

- midi@0.9.4

If you need a different version, we can re-open

[2016-04-12 00:23] #659 closed

[2016-04-12 03:26] majgis commented on #493
@johnnyman727 Thanks again for your help unbricking my t2, discussed [here](https://forums.tessel.io/t/openwrt-update-without-t2-cli/2332/4).

I am interested in working on this project, please advise.

Given that libusb is required and may not be present, I'm thinking your idea to port it to node is the better idea, so we can skip juggling python dependencies on top of node dependencies.

[2016-04-12 08:14] Frijol opened #661 "t2 update: autocheck for out of date CLI"
..and prompt update if out of date. T1 CLI did this as well as https://github.com/tessel/t2-cli/issues/257 (the same, but for firmware).

Important, because otherwise there's every chance we'll fix something, but users won't know to update for a fix.

[2016-04-12 08:17] LinusU commented on #661
I can recommend [update-notifier](https://npmjs.org/packages/update-notifier), it's widely used and it's awesome!

[2016-04-12 08:18] Frijol commented on #661
oh, perfect! Thanks!

[2016-04-12 08:26] Frijol opened #662 ".gitignore is small and nonstandard"
noticed that it wasn't gitignore-ing my `npm-debug.log`. Realized that the gitignore we're using is extremely minimal and doesn't cover all the cases that are likely to come up - such as this one.

Proposed change:

use [the standard Node .gitignore](https://github.com/github/gitignore/blob/master/Node.gitignore) from the .gitignore repo (plus our own special ignorable files)

[2016-04-12 08:31] johnnyman727 commented on #650
@finnp so you are able to ping `device.local` but not the IP address of the device?

[2016-04-12 08:35] Frijol opened #664 "`npm install dev` shows errors with inotify.h"
Haven't really looked into this since it's not blocking anything. Copy/paste from:

command line

[code]

npm-debug.log

[code]

[2016-04-12 08:42] johnnyman727 commented on #493
@majgis fantastic. For now, let's just implement the `tessel unbrick --openwrt` command since that's all the script you ran does.

You should be able to do it with dependencies already installed with the `t2-cli`. The [`usb` module](https://github.com/nonolith/node-usb) has an API pretty identical to the Python usb module used in the script so porting it should be pretty simple. Let me know if you

[2016-04-12 08:50] Frijol commented on #664
...ignore this. Not thinking clearly; this isn't how you use npm.

[2016-04-12 08:50] #664 closed

[2016-04-12 09:50] Frijol opened #666 "[docs] add something about grunt or unit tests to readme?"
@rwaldron is there a proper process contributors should follow with respect to Grunt or adding unit tests when creating a new feature on the CLI? If so, this would be great to have in the readme.

[2016-04-12 10:29] #661 closed

[2016-04-12 11:01] jziggas opened #667 "Add a command to display Node version"
[Reference](https://forums.tessel.io/t/what-version-of-node-does-tessel-2-use/2349)

[2016-04-12 12:20] finnp commented on #650
@johnnyman727 I am able to ping both. It's just that `t2 list` doesn't find the LAN connection.

[2016-04-12 14:08] majgis commented on #493
That sounds straight forward.  I'll get a branch going and report back when I have questions, most likely this weekend.

[2016-04-12 14:10] rwaldron opened #668 "[list] displays erroneous "Detected a Tessel that may be booting.""
[code]

[2016-04-12 14:13] albatrocity commented on #650
Same as @finnp. I'm able to `t2 run` successfully but `update` and `list` don't seem to be aware of LAN. `run` could be pushing code over USB, I can't tell.

[2016-04-12 14:54] albatrocity commented on #650
Running `t2 wifi --l` shows me two networks with the same SSID, one of which I'm connected to with Tessel. I don't doubt there are duplicate network names where I am, so this may just be a fringe case or a non-issue. Could be nice to somehow choose between the two.

[2016-04-12 15:33] dudleyjosh opened #669 "Show LAN / USB first when running "t2 list""
This is just for aesthetics, but I think it would make more sense to show LAN / USB then the name of the t2 device... it would be consistent and easier to read this way.

[code]
vs
[code]

[2016-04-12 16:12] #662 closed

[2016-04-12 16:13] johnnyman727 commented on #668
I'm not sure what the root cause is but we shouldn't be [assuming any USB errors are from booting Tessels](https://github.com/tessel/t2-cli/blob/master/lib/discover.js#L61-L66). Instead we should be using [a control transfer](https://github.com/tessel/t2-firmware/blob/7908ae1760ae5bc5c2055a528a1ad658c87938ca/firmware/usb.c#L377) to gather the boot state like we already do [in the test rig](https:/

[2016-04-12 16:21] johnnyman727 commented on #669
I also like this suggestion. @dudleyjosh do you prefer this suggestion or https://github.com/tessel/t2-cli/issues/409?

[2016-04-12 17:23] dudleyjosh commented on #669
@johnnyman727 either way I think the connection type should be shown first, it would be nice to have it output in such a way that it looks like they are in columns for ease of readability... perhaps just add spaces to the output of the connection type if it only has one of the connections?

[code]

[2016-04-12 19:20] rwaldron commented on #669
I didn't mean to assign myself. I want to assign @dudleyjosh, but I also just remembered that @github still doesn't support assigning arbitrary users. Blah.

@dudleyjosh this is all you. Let me know if you need any help.

- https://github.com/tessel/t2-cli/blob/master/lib/controller.js#L107
- https://github.com/tessel/t2-cli/blob/master/lib/controller.js#L230-L235

Both places need to be updated w

[2016-04-12 19:23] rwaldron commented on #666
Yes, this is a good idea.

[2016-04-12 19:24] rwaldron commented on #666
@HipsterBrown is pretty awesome at docs writing, so I'm going to assign this one to him and he can accept it or not ;)

[2016-04-12 19:25] rwaldron commented on #664
One day you will have to tell me more about this

[2016-04-13 00:41] finnp commented on #650
I was digging into this a bit. It seems like the `mdns-js` module can't find the device. I used a more low level package [multicast-dns](https://www.npmjs.com/package/multicast-dns) to test if this is an issue with `mdns-js`. However also this module didn't work. I do suspect now that it might be some kind of issue with node maybe. Tomorrow I'll do some tests with my chromecast to see if I can det

[2016-04-13 09:26] johnnyman727 commented on #650
@finnp thanks so much for looking into this. You may want to check out some comments from the `mdns-js` author: https://github.com/mdns-js/node-mdns-js/issues/47. If you have time, could you look into whether you have any other Bonjour services running?

[2016-04-13 10:56] Frijol commented on #664
...I was definitely thinking of the `npm run dev` command.

[2016-04-13 18:36] vic317yeh opened #670 "unable to run t2 list"
I got this error when I attempted to run t2 list:

t2-cli/bin/tessel-2.js:14
}).notify();
^
SyntaxError: Unexpected token }
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Function.Module.runMain (module.js:497:10)
    at startup (node.js:119:16)
    at nod

[2016-04-13 18:39] HipsterBrown commented on #670
@vic317yeh what version of Node are you using?

You can find out by running `node -v` in your command line.

[2016-04-13 18:41] vic317yeh commented on #670
v0.10.28

[2016-04-13 18:43] HipsterBrown commented on #670
Ok. The minimum requirement for the cli is v4.2.0. [Reference](https://github.com/tessel/t2-cli/blob/master/package.json#L83)

[2016-04-13 18:52] vic317yeh commented on #670
Got it. Thanks!

[2016-04-13 19:14] #670 closed

[2016-04-13 20:13] vic317yeh commented on #670
@HipsterBrown Sorry I still have no ideas what I'm doing. I got the following error when running t2 list

node(5786,0x7fff7db00300) malloc: *** error for object 0xffffffff: pointer being freed was not allocated
*** set a breakpoint in malloc_error_break to debug
Abort trap: 6

[2016-04-13 20:18] HipsterBrown commented on #670
@vic317yeh I would try re-installing the cli now that you've upgraded your version of node. That can affect some of the cli's dependencies.

[2016-04-13 20:28] vic317yeh commented on #670
I downgraded my node to 5.1 and it worked! Thanks!

[2016-04-14 14:19] huseyinkozan commented on #447
Hi,

Works on Ubuntu 14.04, npm 3.8.3, and node v5.10.1 using this command :

[code]

And this udev rule file:

[code]

Reload udev rule :

[code]

[2016-04-14 14:22] rifotu commented on #447
hey Huseyin!
great job! thanks a lot

[2016-04-14 16:56] finnp commented on #650
So I `sudo lsof +M -i4 | grep mdns` and there was only mDNSResponder listening for mdns queries.

So I disabled mDNSResponder with
[code]

But that didn't help.

[2016-04-14 18:29] huseyinkozan commented on #650
Was same here on Ubuntu 14.04.  _t2 list_ had showed USB but not LAN.

I disabled the firewall, then it works. The docs must mention about ports. (Also, I opened 5353 but had not worked.)

[2016-04-15 02:39] dudleyjosh commented on #669
Closed with PR-671

[2016-04-15 02:39] #669 closed

[2016-04-15 04:37] HipsterBrown commented on #650
While digging into this issue, my Tessel showed up on LAN in the beginning but stopped showing up at some point. However, when I lookup the `_tessel._tcp` service directly, using `dns-sd`, it was available:

[code]

That `_tessel._tcp` service doesn't show during a general browse using `dns-sd`:

[code]

It's all quite odd.

I'm going to read through the `mdns-js` docs & source a bit to see how th

[2016-04-15 08:56] johnnyman727 opened #672 "[root] Need more clear "No-LAN" error message"
You can only use the `t2 root` command when your Tessel is detectable over mDNS. We need to have a more clear error message if someone runs `t2 root` and a connection is found over USB but not LAN. Something like "The `root` is only functional over LAN connections but we only found a USB connection to your Tessel. Please connect your Tessel to Wifi with `t2 wifi -n SSID -p PASS`. See `t2 help` for

[2016-04-15 09:04] johnnyman727 opened #673 "[root] Disallow the --usb option"
`t2 root` only works over LAN but we currently allow the `--usb` option to be passed in. This will cause an error message like the one seen below:

[code]

We should remove the ability to use the `--usb` option with this command.

Cross posted from [the forums](https://forums.tessel.io/t/unable-to-get-wifi-working-on-tessel-2/2367)

[2016-04-15 09:42] johnnyman727 commented on #650
@HipsterBrown do you still have this issue even after resetting `mdnsResponder`? (`sudo killall -HUP mDNSResponder`)

[2016-04-15 11:00] johnnyman727 opened #674 "[deployment] Issue bundling entire project"
@rwaldron I thought we had already resolved this particular issue but maybe the details of this deployment are different. I'm trying to deploy from a project subdirectory and it's not including a required module.

Steps to reproduce:
[code]

Error Message:
[code]

[2016-04-15 11:01] johnnyman727 commented on #674
Note: if you run from one directory higher (`t2 run debug/update.js`) which is the root of the ambient-attx4 project, this issue does *not* occur.

[2016-04-15 11:02] finnp commented on #650
@HipsterBrown Running `dns-sd -B` only browses for `_http._tcp`.  If you run `dns-sd -B _services._dns-sd._udp` you should be able to see it.

[2016-04-15 11:03] johnnyman727 commented on #674
Even with the `--full` flag it does not deploy `attiny-common` so I'm not sure what's up.

[2016-04-15 11:05] johnnyman727 commented on #674
I believe this is an issue how modules are resolved with respect to the dependency file structure. My `debug.update.js` script calls `require('attiny-common');` but the directory structure is like this:
[code]

I think `attiny-common` is too "high up" to be resolved.

[2016-04-15 11:08] finnp commented on #650
I finally figures out the issue! (for me at least) I really should have thought of it earlier. I have the Mac OS X Firewall turned on, that blocks all Bonjour connections.

So I went to "Security & Privacy" and unchecked "Block all incoming connections". When I ran "t2 list" then, I was asked if I want to allow node to accept connections. Here's a screenshot:
![screen shot 2016-04-15 at 13 05 37](

[2016-04-15 11:13] johnnyman727 commented on #650
@finnp This is fantastic! Nice work!

@HipsterBrown, I think the best way to 'resolve' this is to get up better documentation on how to fix this on OSX (using these wonderful tips) and [Linux](https://github.com/tessel/t2-docs/issues/56#issuecomment-210362132) and then link to that doc on the start experience.

[2016-04-15 11:20] johnnyman727 opened #675 "[restart] t2 restart is broken"
`t2 restart` returns:
[code]

We need some better unit tests as well.

[2016-04-15 11:21] johnnyman727 commented on #650
@finnp out of curiosity, what version of OSX are you running?

[2016-04-15 11:26] johnnyman727 commented on #675
I haven't been able to make a `reproducible test case for the error message described above, but I did find an unaddressed corner case. My directory structure looks like
[code]

If I run `t2 run debug/update.js`, and then run `t2 restart`, it will not run the script I previously ran because it delegates to Node to determine the entrypoint for the file which will not be the script I just ran. Not s

[2016-04-15 11:27] finnp commented on #650
@johnnyman727 Yosemite 10.10.5. The firewall was turned off by default by the way, I enabled it at some point.

[2016-04-15 11:31] johnnyman727 commented on #675
Okay, steps to reproduce the first error message are simple:
[code]

[2016-04-15 11:34] johnnyman727 commented on #650
Good to know, thanks! I wasn't sure if I just happened to have turned mine off at some point and assumed it was off by default for everyone.

[2016-04-15 11:38] finnp commented on #650
I also thought about how to test if a firewall is used.

Here's a rough idea. If trying to send a message to itself is not working, it's likely that there is a firewall issue (or some other interference):
[code]

[2016-04-15 11:44] johnnyman727 commented on #650
@finnp this would be a great addition to the CLI. We could run it asynchronously with the mDNS discovery and print a warning if an error is thrown. Have you confirmed this test works?

[2016-04-15 12:03] huseyinkozan commented on #650
Can't we use firewall while developing ?

[2016-04-15 12:33] johnnyman727 commented on #650
Yes, but you won't be able to use mDNS discovery. We have an open issue to add an --ip flag you can specify that actual address of your Tessel but it's not implemented yet

[2016-04-15 12:38] mattsoftware commented on #650
Whoah, we are not seriously going to suggest turning off the firewall? Why
does dns-sd show responses if its just the firewall thats the problem. And
why does connecting everything to a mobile phone hotspot not require
disabling firewall. I will be investigating my t2 further this weekend
after an intense week at work. Hopefully there is a way without disabling
firewall cause that is NOT an option

[2016-04-15 13:37] johnnyman727 opened #676 "[usb] USB library does not load on OSX 10.x.x and Node 5.x.x"
Install output:
[code]

Output from `t2 list`:
[code]

I tried CLI @ `0.0.17` and `0.0.18` with the same results.

[2016-04-15 13:41] Frijol commented on #252
hostname = the name of your Tessel, settable via `t2 rename`

[2016-04-15 13:43] Frijol commented on #252
is this the same issue? https://github.com/tessel/openwrt-tessel/issues/19

[2016-04-15 13:43] johnnyman727 commented on #252
Yep!

[2016-04-15 13:57] rwaldron commented on #675
I've never seen `t2 restart` without an entry point, ie. `t2 restart index.js`. How is `t2 restart` supposed to know which file to start with from one run to another?

[2016-04-15 13:57] rwaldron commented on #675
The real bug is that it allows you to get that far without displaying an error

[2016-04-15 14:06] rwaldron commented on #675
In addition to my previous two comments, I'm actually seeing another issue: there is no `package.json`, which is what gets used to determine what to run when you type `t2 restart` with no entry point (I had actually forgotten about this.)

Not without writing some state, which we can do, but it's new territory.

[2016-04-15 14:31] rwaldron commented on #675
TBH, looking in the package.json is probably too much of an assumption and I think we should drop that fallback.

[2016-04-15 15:21] juanmanavarro commented on #447
@huseyinkozan what is and where is the _udev rule file_?

[2016-04-15 15:24] albatrocity commented on #659
@rwaldron I'm getting `ALSA lib seq_hw.c:457:(snd_seq_hw_open) open /dev/snd/seq failed: No such file or directory` when trying to initialize the MIDI library.

After a bit of searching, like a driver/kernel thing. Are there any plans to support this sort of connectivity?

* Issue thread for [UDOO](http://www.udoo.org/forum/threads/midi-configuration.1183/)
* [Issue thread](https://bugs.launchpad.

[2016-04-15 16:33] huseyinkozan commented on #447
@juanmanavarro Sorry. Here it is :
[code]

[2016-04-15 18:01] huseyinkozan commented on #447
@juanmanavarro Sorry. Here it is :
[code]

[2016-04-15 18:35] johnnyman727 commented on #659
@albatrocity thanks for researching that. Would you be interested in installing the kernel dependencies on your T2 and reporting back on whether it works?
You would need to:
- [ ] Connect your T2 to WIFI
- [ ] Run `t2 root` (must be discoverable via LAN with (`t2 list` first)
- [ ] Once you have shell access, use opkg to install MIDI dependencies. [Here](https://gist.github.com/mitsuhito/f54e37a4f

[2016-04-15 19:16] albatrocity commented on #659
@johnnyman727 definitely. Just tried `alas-utils` which didn't seem to affect much. A bunch of the other packages on that list threw `Unknown package` errors. I'll check later on for direct downloads to source. Seems like `alas-utils-midi` and/or `kernel-module-snd-usbmidi` would be relevant.

[2016-04-15 19:19] johnnyman727 commented on #659
yeah anything with `midi` in the name seems like a good plan :)

[2016-04-15 22:18] rwaldron commented on #676
Is this a t2-cli bug or a node-usb bug?

[2016-04-16 00:12] rwaldron commented on #659
Change `alas` to `alsa`?

[code]

[2016-04-16 03:30] johnnyman727 commented on #676
Most likely node-usb but I haven't investigated at all.

[2016-04-16 13:18] wyze commented on #604
Couldn't this be as simple as just reading in the version field from `package.json`? I added the output really quick and could look something like this:

[code]

[2016-04-16 14:02] wyze commented on #656
I prefer dashes as well. :)

[2016-04-16 14:52] #675 closed

[2016-04-16 14:53] #656 closed

[2016-04-16 18:19] #667 closed

[2016-04-16 18:31] wyze opened #682 "Fix spelling error of `tesselFirmwareVerion`"
See incorrect spelling here: [lib/controller.js#L941](https://github.com/tessel/t2-cli/blob/master/lib/controller.js#L941)

While I am in there, since it displays node version as well. Would just `tesselVersion` or `tesselVersions` (plural) be a more appropriate name?

cc @rwaldron

[2016-04-16 18:46] rwaldron commented on #682
Maybe even... `tesselEnvVersions`?

[2016-04-16 18:47] rwaldron commented on #682
Do up a patch with "Fixes gh-682" in the commit message and I'll land it as soon as it's green

[2016-04-16 18:47] wyze commented on #682
That works too.

[2016-04-16 18:51] rwaldron commented on #682
Is it accurate though? Push back if you think not.

[2016-04-16 18:57] wyze commented on #682
Might not be. When I hear environment variables. I think more like flags. `NODE_ENV=production` or `PORT=3001`. I think, in this case, you wouldn't set the version this way.

On the other hand, the versions here define the environment you are working with. So, really, I think it could go either way.

[2016-04-16 19:06] rwaldron commented on #674
I don't think this is an "issue"...

I would've assumed that this:

[code]

...Will logically result in `node_modules/ambient-attx4/` being treated as the project root, because it has a valid package.json it. It will bundle that module up and deploy it. If `debug` has a dependency that's require()'ed, the missing dependency is ignored (which is necessary to avoid massive false-negatives when mips-

[2016-04-16 19:24] rwaldron commented on #674
So, the error that I got is totally correct, because there is no index.js in that directory and I've provided no other path information in the entrypoint.

Even if you did this:

[code]

The file would be found, but no debug/package.json, so CLI would go up one to ambient-attx4/ where it _would_ find a package.json. Since we've defined the semantics of finding a tessel 2 project as "has a package.

[2016-04-16 19:24] wyze commented on #682
I thought about it a little more, and `tesselVersions` could be construed as versions of Tessel, ie. 1 or 2.

And `tesselEnvVersions` more accurately describes the environment within Tessel which you are working with.

[2016-04-16 19:26] rwaldron commented on #682
I agree with that. `tesselEnvVersions` it is!

I have to step out for a bit, so if I don't follow land right away, no worries—I will do it as soon as I have a chance :)

[2016-04-16 19:28] wyze commented on #682
Sounds good and no worries!

[2016-04-16 19:35] majgis commented on #493
Good news, I successfully rebricked my tessel.  I will pretend the python script doesn't exist, so my only hope is to add this feature.

Calling Tessel.get returns an error.  The connection is getting created before the error.  I will try cutting out the sickly middle man and get the connection directly.

[2016-04-16 21:40] majgis commented on #493
Let me know if you dislike how I gained access to just the connections:
https://github.com/majgis/t2-cli/commit/df64dd025042ec0eab5d92d422a8bee9b5c963b4

I will continue on now, but I can rework this step if you want something different.

[2016-04-16 23:41] majgis commented on #493
@johnnyman727 would it be possible to replace the following file with a .tar.gz?
https://s3.amazonaws.com/builds.tessel.io/custom/new_build_next.zip

If yes, I can extend the logic in the update-fetch.js without having to write something separate, and it looks like I'd need to add a library if I am to stream the zip into memory as you did in that case.

[2016-04-17 18:35] rwaldron commented on #645
Thanks to @anandsuresh for all his work getting sse4_crc32 updated! I've just compiled sse4_crc32@0.5.0 and pushed it to the precompiled binary server. @ptone can you give this a run through? Thank you!

[2016-04-17 18:36] sdaitzman commented on #419
I'm experiencing this error on my brand new Tessel 2. Let me know which logs to send your way 😃

I have an app that starts an Express server and I currently get EADDRINUSE every time I run the program the second (or more than second) time.

[2016-04-17 20:09] Student007 opened #686 "Adding Contributors to package.json"
I think we should add the list of contributors to the `package.json`as described by [NPM](https://docs.npmjs.com/files/package.json#people-fields-author-contributors)

[2016-04-17 22:55] pmcalabrese opened #687 "[wifi] Cannot connect over WiFi WPA2-PSK [AES]"
I've a WiFi network protected with  WPA2-PSK [AES] and a Tessel 2 with the firmware 0.12 connected over USB.
I can see the network i want to connect to with `t2 wifi -l`, but when i enter `t2 wifi -n netid -p passid -s psk2` or `t2 wifi -n netid -p passid -s wpa2`  it says

WARN Unable to verify connection. Please ensure you have entered the correct network credentials.

I'm 100% sure the credenti

[2016-04-18 01:49] johnnyman727 commented on #604
@wyze It's been a while now but what I think I meant was that we want a way to compare the version of the CLI being used with the most recently published (which I referred to as "current") CLI. In any case, that was closed with #665 but outputting the CLI version in the `t2 version` command would definitely still be useful.

[2016-04-18 02:08] johnnyman727 commented on #674
Ah great. Thanks for investigating!

[2016-04-18 02:08] #674 closed

[2016-04-18 02:11] #682 closed

[2016-04-18 02:18] johnnyman727 commented on #493
majgis@df64dd0

It's not exactly how I would have done it. I think the easier way might be to just pass `opts.usb = true` to `Tessel.get` and then use the `tessel.connection` object. What is the error that you were getting before?

https://s3.amazonaws.com/builds.tessel.io/custom/new_build_next.zip

Sure thing! I've uploaded it so it should be available here: https://s3.amazonaws.com/builds.tessel

[2016-04-18 02:24] johnnyman727 commented on #419
@sdaitzman can you share the code you're running that's hitting this issue? Thanks!

[2016-04-18 02:45] johnnyman727 commented on #686
I don't have very strong opinions about this but I think it can be kind of annoying to have to update the package.json so often. As long as new contributors do so when submitting their patches (or in a subsequent PR), it shouldn't be a problem. I'm curious about how other medium/large open-source projects handle this.

[2016-04-18 02:46] wyze commented on #604
Alright, that makes sense. I will send a PR over adding CLI version to output of `t2 version` and it can be discussed there further if the team would like it to be added or not. Thanks for the clarification.

[2016-04-18 02:48] johnnyman727 commented on #687
@pmcalabrese are you able to connect to any other networks? Is your password unusual in anyway (in terms of characters or number of words, etc)? Can you see your network when you run `t2 wifi --list`?

[2016-04-18 02:49] johnnyman727 commented on #604
:+1:

[2016-04-18 03:49] majgis commented on #493
The error occurs on the call to tessel.connection.open() in discover.js:
https://github.com/tessel/t2-cli/blob/master/lib/discover.js#L35

Digging deeper, the error is "LIBUSB_ERROR_PIPE" here:
https://github.com/tessel/t2-cli/blob/master/lib/usb-connection.js#L163

I thought of returning a tessel in a partially functional state, but then I worried about correcting the error handling for all the o

[2016-04-18 03:58] kevinmehall commented on #493
You'll have to diverge from the normal path before the call to `setAltSetting`, because that's what selects whether to put the coprocessor into the mode to communicate with the SoC or the mode to write the flash.

[2016-04-18 12:59] rwaldron commented on #686
@johnnyman727 I've maintained the contributors list in johnny-five for over 4 years and it's not that bad. We might even consider making a grunt task to manage it for us.

[2016-04-18 13:03] rwaldron commented on #686
Looks like @scottgonzalez has already made such a thing: https://www.npmjs.com/package/grunt-git-authors.

[2016-04-18 13:42] majgis commented on #493
@kevinmehall Thank you, your comment was very helpful.

I will use an altSetting option, which can ultimately be passed to the setAltSetting method on the usbConnection, to pull out a tessel instance with the connection in the correct state.

Questions:
1.  Why is setAltSetting setting to 0 (already the default setting it looks like) before setting to 2?
https://github.com/tessel/t2-cli/blob/maste

[2016-04-18 13:45] scottgonzalez commented on #686
Indeed. That module is designed to work with `AUTHORS.txt`, but I'd be fine adding a `updatePackageJson()` similar to the `updateAuthors()` method. You could also use the `getAuthors()` method and do the `package.json` update manually. If you'd like the new method, feel free to file an issue or PR and I'll get a new version out ASAP.

[2016-04-18 14:05] sdaitzman commented on #419
@johnnyman727 I found my issue 😄

I was using https://github.com/rgbkrk/atom-script to run my code. When I CTRL-C'd the panel the logs appeared in, it seems that the program continued running on the Tessel. I think this is an issue with that package, not t2 itself.

[2016-04-18 14:11] sdaitzman commented on #177
I think the default way to enter your password should be interactive input with no password printout, with a warning about clearing history if the user runs the command with the wifi password as an argument. The default way of doing things shouldn't compromise security.

[2016-04-18 14:43] kevinmehall commented on #493
Not sure. The OS should reset it to 0 when the interface is released, but that will make sure the endpoints get reset if it is closed and re-opened without releasing the interface. Or maybe working around an OS X bug?

0 disables the interface, 1 is flash mode, and 2 is pipe mode. https://github.com/tessel/t2-firmware/blob/master/firmware/usb.c#L31

The endpoints are the same, but the protocol is

[2016-04-18 14:50] Student007 commented on #177
@wprater @LinusU take a look to our discussion [about the interactive solution](https://github.com/tessel/t2-start/issues/110)

[2016-04-18 15:17] HipsterBrown commented on #687
@pmcalabrese Thank you for making an issue. There are quite a few configuration operations that can be set for wifi secutiy -> [Reference Docs](https://wiki.openwrt.org/doc/uci/wireless#wpa_modes). At the moment, `psk2` should cover your security setting of WPA2-PSK [AES].

Can I ask what router you're using?

Also, have you tried using quotes around your `netid` and/or `passid` just in case there

[2016-04-18 16:22] HarleyKwyn commented on #686
Automation makes me smile. I say it'd be awesome to do this.

[2016-04-18 17:43] pmcalabrese commented on #687
@johnnyman727  @HipsterBrown  yes I can see my network. I've tried both with single and double quote with no success.

I've tried to connect to an iPhone 6 (wifi hotspot) all good. No problem.

My router is a NETGER CG2000.

[2016-04-18 18:09] HipsterBrown commented on #687
Thanks for the update.

Does your router have any other types of WPA2-PSK security options? i.e. something other than [AES] but still WPA2-PSK.

Also, is your network using a 5GHz or 2.4GHz frequency? It should tell you in your router's configuration settings under "Channel".

[2016-04-18 18:41] johnnyman727 commented on #419
:+1: That's a sweet plugin. A little menu for deploying to Tessel in Atom would be awesome too.

[2016-04-18 18:47] johnnyman727 commented on #493
Yes, this was added because OSX has a bug where it doesn't release the interface in the event of a crash or process close.

[2016-04-18 18:48] johnnyman727 commented on #177
:+1:

I am in favor of [@wprater's suggestion](https://github.com/tessel/t2-cli/issues/177#issuecomment-137244539).

[2016-04-18 18:57] johnnyman727 commented on #686
@scottgonzalez issue filed! https://github.com/scottgonzalez/grunt-git-authors/issues/8

[2016-04-18 18:58] scottgonzalez commented on #686
Thanks. I'll work on that tonight. Shouldn't take long, so I'll likely have a new version published tonight as well.

[2016-04-18 19:00] ptone commented on #645
is there some index on the precompiled binary server that isn't getting updated somewhere?

I deleted and reinstalled local node_modules with npm, but still get

[code]

[2016-04-18 20:25] albatrocity commented on #659
@rwaldron just a typo in my issue. I've installed the following with `opkg`:
* `alas-lib`
* `alas-utils`
* `alsa-utils-seq`

I keep getting the `ALSA lib seq_hw.c:457:(snd_seq_hw_open) open /dev/snd/seq failed: No such file or directory` error, both when attempting to initialize a [node-midi](https://github.com/justinlatimer/node-midi) connection or running `aconnect` from the t2 root.

[This](htt

[2016-04-18 21:26] rwaldron commented on #645
Nope, direct file requests.

Well, I guess that's because the dependency is still `^4.1.0`? https://github.com/ashi009/node-fast-crc32c/pull/7 While we await that update, I did this:

[code]

Then I deployed without seeing that message above. Then I hit the second problem shown in your output above: node-forge appears to dynamically `require(...)` much of its internals, which means t2 cli can't de

[2016-04-18 21:27] rwaldron commented on #645
I will file PRs to those projects to add .tesselinclude files tomorrow.

[2016-04-18 21:32] rwaldron commented on #686
@scottgonzalez 👏 thank you sir :)

[2016-04-18 21:38] rwaldron commented on #419
Folks, let's be clear: `EADDRINUSE` is not the same as ^C not working :P

There are a few ways to avoid this:

- Ensure that your server is closed on SIGINT:
[code]
- Make "random" ports every time the program runs:
[code]

[2016-04-18 21:59] rwaldron commented on #659
I honestly don't know :\

Can you paste the output of `lsmod` (ssh to the board to run that)

[2016-04-18 22:32] scottgonzalez commented on #686
I just published grunt-git-authors@3.2.0 which adds an `update-contributors` Grunt task and an `updatePackageJson()` method for standalone use.

[2016-04-18 22:51] rwaldron commented on #686
@scottgonzalez do you want to do the patch for t2-cli to introduce that?

[2016-04-18 23:06] scottgonzalez commented on #686
Sure.

[2016-04-18 23:09] ptone commented on #645
Great - I had already done the explicit install of 5.0.0 (in the rare chance someone else hits this thread. the 0.5.0 in a comment above is a typo).

But I had not removed the other version.

I have it running now, tessel talking to GCP - woot.

[2016-04-18 23:09] #645 closed

[2016-04-19 01:23] johnnyman727 opened #691 "[crash-reporter] Crashes reported before being displayed"
I'm running into an issue where a crash is being reported to the crash reporter service but the CLI is not actually displaying the error that was thrown.

Steps to reproduce:
[code]
Output:
[code]

Perhaps an error is being thrown by the remote Node process and it's being gobbled by the crash reporter?

[2016-04-19 02:18] #686 closed

[2016-04-19 09:10] pmcalabrese commented on #687
It's 2.4 GHz router, I've tried also WPA but still without success,

[2016-04-19 13:25] rwaldron commented on #691
Did you try this with the crash reporter off?

[2016-04-19 15:19] tikurahul commented on #691
That should not happen. Let me make sure that we don't swallow the real error. Also I should really update the message that says `Crash Report submitted at...` to include the fingerprint. We have that information.

[2016-04-19 15:20] tikurahul commented on #691
Oops. Fat fingered the close issue button. My apologies. 🙃

[2016-04-19 21:22] rwaldron commented on #645
That's great news!

[2016-04-19 21:32] #673 closed

[2016-04-19 22:30] wyze commented on #676
I was able to get the error when using `nvm` to switch from Node 4.x -> Node 5.x without doing a `cd node_modules/usb && node_modules/.bin/node-pre-gyp rebuild` or simply remove `node_modules` and reinstall.

I get a similar error when downgrading from Node 5.x -> Node 4.x without rebuilding the usb module or removing and reinstalling my `node_modules`:

[code]

I tried with a fresh `node_modules`

[2016-04-20 01:45] johnnyman727 commented on #691
@rwaldron No, not yet but will do.

Also reported here: https://forums.tessel.io/t/red-error-led-on-boot-and-blue-led-blinking-forever/2401/4?u=jon

[2016-04-20 02:17] johnnyman727 opened #693 "[ap] Error: Network is down when running t2 ap --off"
Whenever I run `t2 ap --off` I get the following error:
[code]
I can reconnect:
[code]
And then run `t2 ap --off` and get the same error message. Here is what my `/etc/config/wireless` looks like:
[code]

I'm not sure if those two uncompleted configs at the bottom are related or not.

[2016-04-20 02:20] wyze commented on #631
I tried playing around with this one for a little bit tonight. Using what @johnnyman727 suggested above, this was the output:

[code]

So, I pressed on and modified `remoteProcess.stdout` instead of a straight pipe to the CLI, I was filtering based on the buffer length. Seems kind of hacky/dirty so I didn't open a PR. I can open a PR if interested, but here was the output after my additional chang

[2016-04-20 02:32] johnnyman727 opened #695 "[unit tests] sometimes nodeunit stops running tests on root.js"
I've seen this a number of times and I've had to restart Travis CI do to this bug. There seems to be some race condition that causes the second (? I think) test to hang forever.

[2016-04-20 02:35] #604 closed

[2016-04-20 03:27] johnnyman727 commented on #676
Actually, I'm not able to reproduce this anymore. I'm not sure what the problem was 😥 .

[2016-04-20 03:27] #676 closed

[2016-04-20 04:27] johnnyman727 commented on #631
@wyze thanks for trying it out!

So on a hunch, I checked this out as well. It looks like the `stdin` duplication does not happen if you `t2 run repl.js --usb`. It's only an issue with SSH connections.

That's because the way the `ssh2` library works, it spits out a [`Channel`](https://github.com/mscdex/ssh2#channel) object once `exec` is called. A `Channel` is a TransformStream with the Readable

[2016-04-20 04:46] johnnyman727 commented on #642
@Student007 have you been able to confirm whether it's a runtime or pre-processing error?

[2016-04-20 04:47] johnnyman727 commented on #631
BTW, this would be a really useful feature to add to the CLI (`t2 repl`) especially if we can get bash history working with it.

[2016-04-20 04:48] johnnyman727 commented on #608
Fixed as of `0.0.18` where you can use a USB connection to update.

[2016-04-20 04:48] #608 closed

[2016-04-20 04:51] johnnyman727 commented on #560
@flaki what else do you think we should add so we can resolve this issue?

[2016-04-20 07:20] DamonOehlman commented on #653
Seeing this also when attempting to use the [usb](https://github.com/nonolith/node-usb) package.  Happy for a pointer to instructions on how to hack around and get this working if there are some :)

[2016-04-20 13:38] tikurahul commented on #560
I just saw this gist, and this makes things so much easier to understand. This is awesome.

[2016-04-20 14:03] albatrocity commented on #659
[code]

[2016-04-20 14:04] albatrocity commented on #659
Seeing `snd_seq_device` in there. Now suspecting it's the sound card issue.

[2016-04-20 14:40] albatrocity commented on #659
My `/dev/snd` directory only has a `timer` file, no `seq` file.

There's a `--with-sequencer` flag that can be used when compiling `alsa`. I'm not really sure how it gets compiled in the first place, but maybe it's related?

[2016-04-20 15:03] HipsterBrown commented on #693
@johnnyman727 This is on the latest firmware update? I'll look into it.

[2016-04-20 15:08] johnnyman727 commented on #693
Yep!

[2016-04-21 00:24] johnnyman727 opened #697 "[update] local binary paths is broken"

[2016-04-21 00:47] johnnyman727 commented on #653
@DamonOehlman `usb` binary dep support is currently hung on https://github.com/tessel/openwrt-tessel/issues/36. If you want to get your hands dirty and investigate, that would be 💯

[2016-04-21 01:06] johnnyman727 commented on #659
@albatrocity perhaps `alsa` should be compiled into the OpenWRT build rather than installed as a package afterwards? I honestly don't know.

I was looking through the build options (you can get this by cloning https://github.com/tessel/openwrt-tessel, `cd openwrt`, `make menuconfig`, scroll down to "kernel" and found these options:
![screen shot 2016-04-20 at 5 56 53 pm](https://cloud.githubuserco

[2016-04-21 01:08] johnnyman727 commented on #659
I might also suggest reviewing [this guide](http://www.tldp.org/HOWTO/MIDI-HOWTO-7.html) for ideas.

[2016-04-21 01:32] #666 closed

[2016-04-21 01:33] rwaldron commented on #659
@johnnyman727 https://github.com/tessel/openwrt-tessel/blob/master/config.mk#L52-L53 ?

[2016-04-21 01:48] johnnyman727 commented on #659
Yep, it looks like we already have `alsa` support, but I'm guessing some kernel modules have to be compiling for sequencing.

[2016-04-21 02:11] johnnyman727 commented on #371
@dtex is this still an issue?

[2016-04-21 02:12] johnnyman727 commented on #320
This was hopefully fixed in `0.0.18`. Haven't seen it in a long time.

[2016-04-21 02:12] #320 closed

[2016-04-21 02:12] johnnyman727 commented on #318
Fixed as of `0.0.18`.

[2016-04-21 02:12] #318 closed

[2016-04-21 02:13] johnnyman727 commented on #177
@sdaitzman are you working on this currently?

[2016-04-21 02:14] johnnyman727 commented on #15
Closing this since... well... we don't really need to do it.

[2016-04-21 02:14] #15 closed

[2016-04-21 02:14] johnnyman727 commented on #253
I think this is not really necessary anymore since the CLI is so verbose.

[2016-04-21 02:14] #253 closed

[2016-04-21 02:15] johnnyman727 commented on #276
Closing for now because I haven't seen this in a long time.

[2016-04-21 02:15] #276 closed

[2016-04-21 02:18] johnnyman727 commented on #396
@Student007 can we close this issue now?

[2016-04-21 03:15] sdaitzman commented on #177
@johnnyman727 I'm not, but I might have enough free bandwidth to pick it up this weekend. I'm not at all familiar with the codebase in this repo but I do write a lot of js 😄

[2016-04-21 08:41] sharkee89 opened #701 ""No Tessel Found" when t2 list"
I have one problem that is failry straightforward to explain.

I brought a new Tessel 2 hardware plug it via mini USB port and install node and npm. Also I do installation from tessel website instruction:

- apt-get install libusb-1.0-0-dev libudev-dev
- npm install -g t2-cli

After I try 't2 list' to see my connected tessel hardware it says "WARN: No Tessel found".

I was searching for that in th

[2016-04-21 15:30] rwaldron commented on #177
@sdaitzman `t2-cli` uses the `inquirer` module for interactive parts of the tool: https://github.com/SBoudrias/Inquirer.js/ so you can familiarize yourself ahead of time :)

[2016-04-21 16:01] aaronshaf commented on #672
This bit me this morning.

[2016-04-21 19:21] johnnyman727 commented on #672
@aaronshaf, this was *sorta* fixed by https://github.com/tessel/t2-cli/commit/ef0a5e2ae0a1439b33c757927a9f4f4a64f3502a.

Assuming you're on the latest version of the CLI, did you see those warnings? Do you feel like more is needed?

[2016-04-21 19:41] sharkee89 commented on #701
I did install-drivers and now on t2-list I get "INFO Crash Reported: http://crash-reporter.tessel.io/".

Regarding the LED it is turned on a blue led and green one near the WLAN plug.

[2016-04-21 22:37] johnnyman727 commented on #701
@sharkee89 out of curiosity, does `sudo t2 list` print out your USB Connection?

[2016-04-21 22:37] johnnyman727 commented on #701
Is the Blue LED pulsating or solid blue?

[2016-04-21 22:50] Injac commented on #619
I had a very similar problem as well. The first problem was, that WIFI was not even enabled, for whatever reason. A  "t2 wifi --on" helped me with the error "ERR! Error: No such wireless device: wlan0
".

[2016-04-21 22:50] sharkee89 commented on #701
@johnnyman727 sudo t2 list is not working.

Regarding blue LED it is first pulsating (during initialization process) and then it is solid one. The Tessel is fully functional because it is working on my MAC but on the other one Ubuntu laptop it is not.

I have to cases:

t2 list
INFO Crash Reported: http://crash-reporter.tessel.io/

and

sudo t2 list
INFO Searching for nearby Tessels...
WARN Detect

[2016-04-21 22:54] johnnyman727 commented on #619
Thanks @Injac. It should be fixed by https://github.com/tessel/t2-cli/pull/648.

[2016-04-21 22:56] johnnyman727 commented on #701
Can I see the output from when you run `npm install t2-cli -g`?

[2016-04-21 22:57] Injac commented on #619
Thanks for all the hard work @johnnyman727  :)

[2016-04-21 22:58] sharkee89 commented on #701
@johnnyman727 Sorry to bother you I repeated all the install process with sudo and then sudo t2 list is working I even uploaded the code on Tessel and run blinking example.

Thanks for help, I still don't know what is the problem because without sudo is not working anything (and on my MAC everything is working out of the box without sudo).

Thanks again..

[2016-04-21 22:59] johnnyman727 commented on #619
You should thank @boneskull! I just complained.

[2016-04-21 23:00] sharkee89 commented on #701
Here is the output you asked:

sudo npm install -g t2-cli

/usr/local/bin/t2 -> /usr/local/lib/node_modules/t2-cli/bin/tessel-2.js

INFO Crash Reported: http://crash-reporter.tessel.io/
/usr/local/lib
└── t2-cli@0.0.19

[2016-04-21 23:00] johnnyman727 commented on #701
Okay thanks a ton - so to be clear - you had to use `sudo` for the `npm install` and every `t2` command in order to get it to work on Ubuntu?

[2016-04-21 23:00] #701 closed

[2016-04-21 23:02] sharkee89 commented on #701
Yes. And it is working only for now. Maybe it was something to do with this because I unplug and plug again the Tessel via MicroUSB after install drivers.

[2016-04-21 23:02] Injac commented on #619
Well, than a big thank you to @boneskull :)

[2016-04-21 23:02] johnnyman727 commented on #701
What do you mean by this? It's not working consistently after the install with `sudo`?

[2016-04-21 23:03] sharkee89 commented on #701
Sorry. I meant it began to work after various numbers of reinstalling t2-cli and drivers.

[2016-04-21 23:04] johnnyman727 commented on #701
Okay - so you actually ran `sudo npm install t2-cli -g` previously and it did not yield a working CLI?

[2016-04-21 23:06] sharkee89 commented on #701
Yes it was not working. But I made a mistake because whole time my Tessel was connected to the computer.

[2016-04-21 23:06] johnnyman727 commented on #701
So you had to:

1. Have the T2 disconnected from USB
2. `sudo npm install t2-cli -g`
3. Plug in T2 via USB
4. `t2 list`

Is that correct?

[2016-04-21 23:09] sharkee89 commented on #701
Actually:

1. Have the T2 disconnected from USB
2. sudo apt-get install libusb-1.0-0-dev libudev-dev
3. sudo npm install -g t2-cli
4. sudo t2 install-drivers
5. Plug in T2 via USB
6. sudo t2 list

That worked for me.

[2016-04-21 23:09] johnnyman727 commented on #701
Okay, thank you!

[2016-04-21 23:13] sharkee89 commented on #701
No worries, thank you again on help.

[2016-04-22 13:40] wyze opened #703 "[unit tests] Travis shows passed even when tests fail"
When running tests on Travis, even if the tests fail, the build will still pass: https://travis-ci.org/tessel/t2-cli/jobs/125017111

Could be due to `grunt` or `grunt-contrib-nodeunit`. But the exit code of grunt isn't set correctly when nodeunit tests fail on Travis.

[2016-04-22 15:19] #691 closed

[2016-04-22 18:23] rwaldron commented on #703
I think this is caused by crash reporter code. We'll need to wrap this: https://github.com/tessel/t2-cli/blob/master/lib/crash-reporter.js#L120-L121 in some conditional code, eg.

[code]

[2016-04-22 18:24] rwaldron commented on #703
I didn't mean to close this, I'm mobile and fat fingered the button

[2016-04-22 18:27] wyze commented on #703
I just checked and both [Travis](https://docs.travis-ci.com/user/environment-variables/#Default-Environment-Variables) and [AppVeyor](http://www.appveyor.com/docs/environment-variables) set `process.env.CI` environment variable to `true`.

[2016-04-22 21:05] rwaldron commented on #642
@Student007

That never, ever happens. `--full` does not just mean "the source is not compressed", it means "every single file, no matter what it is, is deployed".

@johnnyman727 There is nothing this project can do right now, because...

## Smoke Test

[code]

Result:

[code]

**However... https://github.com/mishoo/UglifyJS2/issues/1043**

But when I try the koa examples with `--full`, they work

[2016-04-22 21:06] #697 closed

[2016-04-22 21:54] rwaldron commented on #703
Strange things going on there... If you look at the entire run, the node 4 on linux run did fail correctly: https://travis-ci.org/tessel/t2-cli/builds/125017108

It's failing correctly on Appveyor: https://ci.appveyor.com/project/rwaldron/t2-cli/build/806

I updated grunt-contrib-nodeunit to 1.0.0 and pushed a test that would fail: https://travis-ci.org/tessel/t2-cli/builds/125133982, which fails

[2016-04-22 21:55] rwaldron commented on #703
I'm curious about this... https://github.com/gruntjs/grunt-contrib-nodeunit#undone-tests-will-cause-problems

[2016-04-22 22:29] johnnyman727 commented on #642
@rwaldron to be clear, this is an issue with Uglify, not the CLI?

[2016-04-22 23:04] rwaldron commented on #703
The issue is directly caused by this: https://github.com/tessel/t2-cli/blob/master/test/unit/deploy.js#L2345 for some reason is no longer correctly triggering this: https://github.com/tessel/t2-cli/blob/master/lib/tessel/deploy.js#L651-L655

[2016-04-22 23:04] rwaldron commented on #703
I will look at this more over the weekend

[2016-04-23 12:57] huseyinkozan commented on #650
Ubuntu filrewall workaround:
* Find IP address of the Tessel.
* Reserve that IP at the DHCP server or configure the Tessel for using static IP.
* Allow all incoming requests by adding a rule like : `sudo ufw allow from <IP>`.

[2016-04-23 22:51] Injac commented on #650
Simple and good workaround, if the Tessel always has the same IP-Address, or if you have more than one Tessel, you have to add that entry as well, using ufw. For a more "general" approach, one could simply allow all traffic from the local subnet, like this:

sudo ufw allow from 192.168.177.0/24

[2016-04-24 08:09] Student007 commented on #642
@rwaldron does this mean deploying every time is changing code ? Is there an documented overview what happens during deployment ?
I promise: There was an error - I am currently not able to reproduce this due to time pressure. The only difference between both codes was commenting `require("tessel")`... @johnnyman727  But it is ok to close this issue until I will see it again.

[2016-04-24 08:09] #642 closed

[2016-04-24 09:38] huseyinkozan opened #705 "list should list IP address for LAN with --verbose flag"
Hi,
It will be very good to get the IP address with _t2 list_ for LAN devices. I cannot find any option to get currnet IP addresses of the device. Maybe adding VID:PID and USB device address for the USB devices be informative.

[2016-04-25 07:46] mbrevda commented on #650
In my case, disabling the firewall did NOT cause the tessel to show up (os x)

[2016-04-25 09:38] Injac commented on #650
Have you connected the Tessel via LAN or WLAN? Does it show up on your router with an assigned IP-Address?

[2016-04-25 18:27] rwaldron opened #706 "t2 run/push: updates necessary for npm3 dependency resolution compatibility"
Installing modules via npm3 may, or may not, place the resulting directory in your `project/node_modules/*` ​_OR_​ in `project/node_modules/foo/node_modules/*`, depending on how it resolves the version required. This means that dependencies that have their own `.tesselignore` or `.tesselinclude` rules will have those rules resolved to their own path. For example: `johnny-five` has a `.tesselignore

[2016-04-25 18:44] rwaldron commented on #706
This helps illustrate:

A resolved rule from `node_modules/johnny-five/.tesselignore` would look like this:

[code]

But during deployment, the `serialport.node` will be found as a binary dep and a record will be created that looks like this:

[code]

Note that `modulePath: 'node_modules/serialport'` is used in a `minimatch()` call to determine if this binary dep should be ignored, by comparing wi

[2016-04-25 19:17] rwaldron commented on #706
After exercising the latter case above, I've determined that that case is _not_ problematic, because `node_modules/A/node_modules/B` will be found and ignored, leaving `node_modules/B` right where it needs to be.

For the case where a dependency of `A` should be ignored by a rule defined by `A`,  if there is no match for the rule at `node_modules/A/node_modules/B`, then we should look at `node_mod

[2016-04-25 19:56] Student007 commented on #396
@johnnyman727 no, but there is no time to do it with a full set of testing at the moment. Sorry :crying_cat_face:

[2016-04-25 20:44] rwaldron commented on #706
FWIW, the version of Node.js that we're bound to, ie the LTS isn't shipping with npm3 yet, so this isn't urgent

[2016-04-25 20:46] rwaldron commented on #706
Here's a nice run down of npm3 behavior https://github.com/ashleygwilliams/npm-sandbox/tree/master/npm3/example1

[2016-04-25 21:05] mbrevda commented on #650
WLAN, yes I see it in the DHCP lease list

[2016-04-25 21:22] Injac commented on #650
A short list that helps me most of the time when dealing with IoT devices:

- Are you able to ping it?
- Have you tried to access the device via SSH (trying alternative access, if the ping is working) ?
- Do you have any kind of additional security/anti-virus based software running on your system that could block  access to the Tessel?
- Maybe your router prevents access to the Tessel? Settings?

[2016-04-25 21:25] mbrevda commented on #650
I can ping, I can ssh directly (although `t2 root` doesnt work). I tried disabling my firewall, didnt help. mDns is showing the device:
[code]

[2016-04-25 21:40] Injac commented on #650
It looks very similar to this issue, maybe it is an IPV6 problem as well:
[Unable to t2 root/update](https://forums.tessel.io/t/unable-to-t2-root-update/2417/5)
Here is the pull request:
[Ipv6 link local fix](https://github.com/tessel/t2-cli/pull/702)

[2016-04-25 23:06] rwaldron commented on #642
I don't understand this question.

If only I had time. Right now I rely entirely on the extensive unit tests. Eventually I will have time to actually write a complete spec-like document.

[2016-04-25 23:14] rwaldron commented on #705
https://tessel.io/docs/cli#using-wifi

From mine, right now:

[code]

How so?

[2016-04-25 23:51] johnnyman727 opened #707 "[push] Starting app from Flash does not work occasionally"
Cross posted from [the Forums](https://forums.tessel.io/t/tessel-2-does-not-start-my-application-with-push/2329/26)

To Reproduce (On Windows 8/10):
[code]
Expected Results: Blinking LEDs

Actual Results: No Change in LED state

[2016-04-26 07:20] mbrevda commented on #650
After a reboot, I got the firewall prompt and now I can see the device listed under LAN properly. Thanks!
![screen shot 2016-04-26 at 10 18 22 am](https://cloud.githubusercontent.com/assets/293004/14809857/84403520-0b98-11e6-8cd8-56b5a01d15c0.png)

[2016-04-26 09:13] Injac commented on #650
Nice :)  Glad it finally worked out for you.

[2016-04-26 13:24] johnnyman727 commented on #493
@majgis just wanted to check if you were able to make any progress with this. Can I help with anything? We've got another person on the forums with a corrupted image and they'll need this tool as well.

[2016-04-26 13:39] johnnyman727 commented on #396
@Student007 what else does this issue need to be considered resolved?

[2016-04-26 13:41] johnnyman727 commented on #705
@huseyinkozan do you feel like it would be more intuitive if we also had the IP Address in `t2 list`?

The reason we did not add it was because (in theory) the user shouldn't have to worry about it. Once we improve `t2 list` capabilities on more networks, it could be a non-issue.

[2016-04-26 13:44] wyze commented on #705
What about adding a `--verbose` flag to `t2 list` command and that could give more information, like IP address?

[2016-04-26 13:58] majgis commented on #493
I made it as far as getting a tessel instance in the correct #1 flash mode and downloading the needed files into buffers (https://github.com/majgis/t2-cli/commits/unbrick-rb1).  I'm ready to write the files to the tessel, but I'll admit I'm out of my element, learning as I go on this last part.

If someone wants to take it so it can get done faster, that is fine.  Otherwise, I'll put a solid effor

[2016-04-26 13:59] johnnyman727 commented on #513
I'd like to re-open this conversation and accelerate development in other languages (driven primarily by my interest in Rust).

I agree with @MrNice that a portable CLI library that can be used by any other wrapper language would be ideal and it's certainly a great goal. For now, I think we should use the same CLI (installed via `npm`) for other languages since it's *much* more work to build all t

[2016-04-26 14:00] johnnyman727 commented on #493
@majgis it sounds like you're on the part of the project where you should be porting script.py into JavaScript. Do you have any specific questions about that that I can help with?

[2016-04-26 14:13] majgis commented on #493
Correct, script.py is ready to be ported.  There are sufficient references to figure it out, and I'm sure I'll have very specific questions once I dive in, but nothing at the moment.   I'll devote my weekend to it and see what I can get you by Monday, but no hard feelings if someone else wants to pound it out before then.

[2016-04-26 14:27] aaronshaf commented on #653
I'm seeing this when not even attempting to use the usb package. I can't get the `t2 init` hello world app to work.

[2016-04-26 18:10] Frijol opened #708 "`t2` with no command doesn't show the manual"
(again)

[code]

Should show each of those commands with their descriptors.
Probably, one of the commands of the CLI is missing a .help field. To fix, make sure every command on the CLI has a .help field which describes what it is/how to use it.

[2016-04-26 18:10] sanderblue commented on #653
@aaronshaf This issue shouldn't affect you're ability to run `t2 init`. If you follow [this guide](http://tessel.github.io/t2-start/) to get started, you should be just fine. If you end up seeing any errors at any step, try to diagnose then create a new issue explaining what error you're seeing and at what step the error happened.

The Tessel team does a good job at responding to issues and helpin

[2016-04-26 18:13] sanderblue commented on #653
@johnnyman727 I'm going to close this issue given it's negligible and really shouldn't affect anyone doing basic dev work with Tessel 2. I've been using a 3rd party BLE module just fine with USB ports on two different Tessels.

[2016-04-26 18:14] sanderblue commented on #653
@aaronshaf also, try running `t2 update` and see if that fixes your problem.

[2016-04-26 18:29] rwaldron commented on #653
@sanderblue ok to close then?

[2016-04-26 18:33] rwaldron commented on #708
I found the missing "help", did you want to fix it, or should I make a PR?

[2016-04-26 18:54] Frijol commented on #708
you go ahead! Thanks

[2016-04-26 18:57] rwaldron commented on #513
Sure, a `switch` statement the switches on "something", and delegates to language specific handling. This is not the worst solution, but it's still additional complexity cost for an unquantified benefit.

I'm going to be blunt here: this reeks of second system syndrome and will certainly serve to hurt the progress of the existing code bases (by disproportionately demanding time and effort). If I h

[2016-04-26 20:27] johnnyman727 commented on #513
The benefit is certainly difficult to quantify but I've heard a lot of excitement from the Rust community about T2. If the community rallied around Tessel as *the* embedded platform for Rust, we could potentially grow the community much larger. This could bring in contributors who not only work on Rust-specific code but the CLI as a whole and that benefits everyone. Plus, I want to learn Rust and

[2016-04-26 22:16] MrNice commented on #513
I'm going to recap my assumptions and work from there
1. Non-JS users don't want to use npm
2. Tessel should strive to be encompassing to many communities
3. Tessel as a project and community has very limited resources of money
and time
4. A cross platform executable built in C or Rust would be straightforward
to consume as an API from many languages and therefore would increase the
t2's consumer

[2016-04-26 22:37] rwaldron commented on #513
I'm very aware of this fact. Have you considered that you will need to rewrite _every_ cli dependency?

Considering my last point, I don't know if you realize how long this will actually take.

I don't understand what you mean by this? Are you going to make another project that just delegates to `t2-cli`?

@MrNice

and time

Given 3, who will spend the months, possibly years, building 4?

My kinde

[2016-04-26 22:40] rwaldron commented on #513
For the CLI or for programming on the T2? Are you conflating these two, completely different contexts?

Given my previous question, it's unclear to me what this library does.

[2016-04-26 22:41] #708 closed

[2016-04-26 22:47] rwaldron commented on #707
I'll test this on my Windows machine in the AM

[2016-04-26 22:48] wyze opened #711 "Tests do not complete on Node 5.x"
It just stops in the deploy tests. Here is a snippet of the last few lines:

[code]

Full log here: https://gist.github.com/wyze/a1a07340cc97a9f3e151dbe9e5687eba

Happening on Travis as well: [OSX](https://travis-ci.org/tessel/t2-cli/jobs/125918811) | [Linux](https://travis-ci.org/tessel/t2-cli/jobs/125918806)

Possibly related to #695.

Looks like @rwaldron stumbled upon this here: https://github

[2016-04-27 00:17] Frijol commented on #513
Interjecting in a moderator role - please remember to be kind to one another in this and every thread. It's easy to misinterpret intent on the internet, and even easier to make a place unfriendly out of frustration. Keep it constructive. Seek mutual understanding. Make this a good place to be :)

[2016-04-27 12:16] wyze commented on #703
This is reproducible locally @rwaldron. It seems to consistently happen on Node 5. See #711.

[2016-04-27 13:23] rwaldron commented on #703
@wyze and now I realize how silly and wasteful of time I was—I should've just nvm'ed to 5 to test this locally. Thanks for identifying that; this was on my to-do list for today and I think you just saved me a bunch of time :)

[2016-04-27 15:15] Frijol commented on #513
My thoughts on the subject:

We're anticipating a solution to a problem that hasn't actually surfaced. I'd like to let user needs drive our design, particularly given resource constraints. Let's go for the quick fix (since I think you have a mostly-working solution there, right @johnnyman727?) and then build out more "proper" tooling if there is demand for it - and particularly if there is some ch

[2016-04-27 15:52] rwaldron commented on #711
I'm hitting this as well:

[code]

[2016-04-27 16:03] rwaldron commented on #711
Using `segfault-handler`, added to `test/common/bootstrap.js`, I've recorded the following:

[code]

To clarify, I don't think this is coming from something inside test/unit/access-point.js

[2016-04-27 16:28] rwaldron commented on #711
Ok, I needed to completely `rm -r node_modules`, then `npm install`, now:

[code]

[2016-04-27 19:23] johnnyman727 commented on #493
:+1: sounds good!

[2016-04-27 20:02] #711 closed

[2016-04-27 20:08] rwaldron opened #714 "update-notifier is second worst cause of crashes"
- 11: http://crash-reporter.tessel.io/crashes?fingerprint=-0x20c7a96f
- 6: http://crash-reporter.tessel.io/crashes?fingerprint=-0x115ae372
- 5: http://crash-reporter.tessel.io/crashes?fingerprint=-0x17165b05
- 2: http://crash-reporter.tessel.io/crashes?fingerprint=-0x1c1fc797
- 1: http://crash-reporter.tessel.io/crashes?fingerprint=-0x10ad46c6
- 1: http://crash-reporter.tessel.io/crashes?fingerpri

[2016-04-27 20:09] johnnyman727 commented on #513
I probably don't appreciate how long it would take. The good news is that the Rust ecosystem is building out very fast so there are a lot of libraries we could make use of. We would not have to rewrite all dependencies but likely a few of them. Also, the only way I can imagine we would bootstrap a community of Rust devs together willing to invest in building an executable is if we release somethin

[2016-04-27 20:14] rwaldron commented on #714
Related: https://github.com/yeoman/configstore/issues/6

[2016-04-27 20:33] johnnyman727 commented on #714
@LinusU this is entirely your fault 😄

[2016-04-27 20:40] rwaldron commented on #714
FYI, there are a lot more of these

[2016-04-27 20:41] LinusU commented on #714
Whoa, that's too bad :(

I wonder why the users don't have access to something in their own home directory that probably wasn't there before...

Hmm, I'm going to do some digging...

[2016-04-27 20:46] rwaldron commented on #707
I tried doing this, but I can't even get t2-cli installed on my Windows 10 right now. I have no idea wtf is going on with Windows

[2016-04-27 20:50] johnnyman727 commented on #707
@rwaldron how does it fail?

[2016-04-27 20:57] sanderblue commented on #653
@rwaldron sorry, I got distracted. Yep, I'll close now

[2016-04-27 20:57] #653 closed

[2016-04-27 21:16] rwaldron commented on #653
Thank you :)

[2016-04-27 21:33] rwaldron commented on #707
TBH, it's too much to explain at the moment and I need to force myself to be done for the day. I was walking through the t2-start experience, using garbage shell cmd.exe and `npm install -g t2-cli` and it failed to install. I'll see if the logs still exist, but I have no interest in spending hours looking at a garbage windows machine today.

In other news, `npm install; npm link` from within a clo

[2016-04-27 22:07] rwaldron commented on #513
#511 is a non-starter in it's current form

[2016-04-27 22:09] johnnyman727 commented on #513
@rwaldron 100% agree. I was just making a proof of concept. I have *a lot* to clean up.

[2016-04-28 00:16] tikurahul opened #716 "Supporting multiple languages (Rust, Python etc.)"
### Preface

I think writing a CLI per supported language is not going to scale, and is going to be really hard to maintain long term.  That being said, we should also be wary of the additional complexity in the CLI when we on-board more languages into the existing CLI.

Moving to a portable code base using  `Rust` will take a long time given the additional complexity of bug fixes and improvements

[2016-04-28 00:17] tikurahul commented on #513
This is based on a conversation i had with @johnnyman727.
Here is an alternative proposal, open for comments and feedback.

[https://github.com/tessel/t2-cli/issues/716](https://github.com/tessel/t2-cli/issues/716)